[2012-09-26 14:27] rubik opened #1 "Semicolons are ignored"
As for now the raw module completely ignores semicolons.

[2012-09-26 15:55] rubik opened #2 "Clojures get lost in ComplexityVisitor"
ComplexityVisitor should keep track of clojures.

[2012-10-06 14:09] #1 closed, assigned to rubik

[2012-10-06 14:11] rubik opened #3 "Complete all docstrings"

[2012-10-06 14:11] rubik opened #4 "100% coverage for 0.2"
As for now it's at 91%. Only metrics.py is missing.

[2012-10-06 14:14] rubik opened #5 "Create a documentation (readthedocs.org)"

[2012-10-07 10:17] rubik opened #6 "PEP8 & PyLint fixes"

[2012-10-07 12:45] #4 closed, assigned to rubik

[2012-10-07 12:46] #3 closed, assigned to rubik

[2012-10-10 15:05] #2 closed, assigned to rubik

[2012-10-10 15:08] rubik opened #7 "Add -e, --exclude options to CLI commands"

[2012-10-10 15:55] #7 closed, assigned to rubik

[2012-10-10 18:17] #6 closed, assigned to rubik

[2012-10-11 12:57] rubik opened #8 "Finish README"

[2012-10-11 13:04] #8 closed, assigned to rubik

[2012-10-13 13:29] rubik opened #9 "Make the codebase compatible with PyPy"
Currently 7 tests fails under PyPy.

[2012-10-13 13:49] #9 closed, assigned to rubik

[2012-10-13 13:50] rubik opened #10 "Add a CHANGELOG"

[2012-10-13 14:34] #10 closed, assigned to rubik

[2012-10-14 12:08] rubik opened #11 "Remove constants from raw.py"
There are tokenize's ones which are always correct. Avoid duplication.

[2012-10-14 13:42] #11 closed, assigned to rubik

[2012-10-17 14:57] rubik opened #12 "Complete setup's arguments."
Add missing parameters and short/long description.

[2012-10-17 14:58] rubik opened #13 "Convert README to reST"
Markdown is awesome but PyPI reads reST...

[2012-10-19 15:41] #13 closed, assigned to rubik

[2012-10-19 15:55] #12 closed, assigned to rubik

[2012-10-23 15:16] rubik opened #14 "Port radon.cli to Python 3!"

[2012-10-23 15:25] #14 closed, assigned to rubik

[2012-10-23 15:34] rubik opened #15 "Add tests for cli.py"
For now just check that commands exit without errors...

[2012-10-23 15:35] rubik opened #16 "Add complete tests for cli.py"
Check the output too for the various options.

[2012-10-23 16:01] #15 closed, assigned to rubik

[2012-10-28 12:50] rubik opened #17 "Simplify mi_rank"

[2012-10-30 17:46] #17 closed, assigned to rubik

[2012-11-02 14:50] #5 closed, assigned to rubik

[2012-11-02 14:50] rubik opened #18 "Complete the documentation"
Raw command doc is missing

[2013-01-10 22:38] schettino72 opened #19 "MI command should have a "-s" option like CC"

[2013-01-10 22:51] schettino72 opened #20 ""block" output is on random order"
I would expect the order to be by line number or alphabetical order.
Score order would also be nice.

[2013-01-11 05:59] tallforasmurf opened #21 "ERROR: invalid syntax (<unknown>, line 1404)"
Cloned the repository. Did `sudo python radon/setup.py install` with apparent success. Installed Baker module.

[code]

Noting "1404" as size of input -- that line of cobro.py was: `# c'est tout!` a comment indented 4 ending in `!` -- deleted that line and appropriate output appeared. Restoring line 1404 as `#!` returned the error.

[2013-01-11 06:10] tallforasmurf opened #22 "ValueError using -s"
[code]

Same result for `radon cc --show_complexity cobro.py`

[2013-01-11 16:21] rubik opened #23 "Simplify and complete README"

[2013-01-11 16:26] #22 closed, assigned to rubik

[2013-04-06 12:17] #21 closed, assigned to rubik

[2013-04-06 12:20] rubik opened #25 "Add an `endline` attribute to Function and Class objects."
Currently it is only possible to get the line at which a code block starts, not the line where it ends.

[2013-04-06 12:22] #25 closed, assigned to rubik

[2013-04-08 15:32] #20 closed, assigned to rubik

[2013-04-26 17:08] #19 closed, assigned to rubik

[2013-04-26 18:23] #23 closed, assigned to rubik

[2013-06-16 11:50] rubik opened #27 "`endline` could be `float('-inf`)`"
This is bad, requires an immediate fix.

[2013-06-16 11:51] #27 closed, assigned to rubik

[2013-06-16 12:41] rubik opened #28 "`iter_filenames` is very slow"
Here is an example fix: http://stackoverflow.com/questions/5141437/filtering-os-walk-dirs-and-files

[2013-06-24 10:39] apollovy opened #29 "raw command fails if file has nothing but an empty string with line end"
Hi. On version

<pre>
radon==0.4.1
</pre>

I got

<pre>
./apps/utils/models.py
    LOC: 1
    LLOC: 0
    SLOC: 0
    Comments: 0
    Multi: 0
    Blank: 1
    - Comment Stats
        (C % L): 0%
    load_entry_point('radon==0.4.1', 'console_scripts', 'radon')()
  File "/home/apollov/.local/lib/python2.7/site-packages/radon/__init__.py", line 8, in main
    BAKER.run()
  File "/home/apollov/.local

[2013-06-24 15:15] #29 closed, assigned to rubik

[2013-06-25 09:48] rubik opened #30 "Replace baker with komandr or manage.py"

[2013-06-25 11:05] rubik opened #31 "Enhance including and excluding options"

[2013-11-20 12:47] #30 closed, assigned to rubik

[2013-11-20 12:49] #28 closed, assigned to rubik

[2013-11-20 12:49] #31 closed, assigned to rubik

[2013-11-20 20:31] #18 closed, assigned to rubik

[2013-11-23 11:24] rubik opened #39 "Add -i, --ignore option to ignore directories"

[2013-12-01 15:59] rubik opened #41 "Document commands as seen in setuptools docs"
Like this: http://pythonhosted.org/setuptools/setuptools.html

[2013-12-24 12:21] #39 closed, assigned to rubik

[2013-12-30 17:09] javierj opened #42 "New flag for avoid assert statements in CC"
I and friend have been talking about the assert statement in the calculation of the Cyclomatic complexity (CC).  We found arguments for including it, but also argument for not including it.

One argument to take into account assert statements is that an assert statement may generate a different result when executing. As Radon documentation says: “The assert statement internally roughly equals a co

[2013-12-31 12:01] thedrow opened #43 "Return a non-zero exit code for results below a certain threshold"
There should be an option to set a threshold so that this tool will be used during the CI process. For example radon cc --min=B -a --min-average=A will fail if there are modules with cyclic complexity of C and below and if the average is below A.

[2013-12-31 18:14] uhnomoli opened #44 "Should the -n flag be affecting the -a flag of the cc command?"
In regards to the `cc` command, when the `-n` flag is used with the `-a` flag, the summary is comprised of only the displayed blocks rather than the entire codebase.

[2014-01-04 15:45] #16 closed, assigned to rubik

[2014-01-04 16:27] #42 closed, assigned to rubik

[2014-02-05 21:26] #44 closed, assigned to nobody

[2014-02-05 21:33] rubik opened #46 "Include entire pathfinder source into the tree"
This would allow for higher customization over the file discovering process. Better `ignore` option.

[2014-02-11 07:36] schlamar opened #47 "Please support `radon --version`"

[2014-02-12 14:41] #47 closed, assigned to nobody

[2014-02-17 14:07] #41 closed, assigned to rubik

[2014-02-17 14:07] #46 closed, assigned to nobody

[2014-03-07 19:13] schwa opened #48 "What languages does Radon work on?"
Does it only process .py or can it handle other languages such as C?

[2014-03-07 21:07] zodman opened #49 "integration with jenkins"
Can be awsome if you can export the radon cc to an xml compatible with

https://wiki.jenkins-ci.org/display/JENKINS/CCM+Plugin

The  ccm.xml is the result of ccm with this format:

https://github.com/jenkinsci/ccm-plugin/blob/master/src/test/resources/hudson/plugins/ccm/parser/ccm.result.xml

[2014-03-09 02:38] luanfonceca opened #50 "How can i run all the Radon commands in a single call?"
Hi folks, I want to execute, in a single shell command, all the 3 Radon commands, something like:

[code]

is there any way to do that?!
thanks in advance.

[2014-03-09 17:04] merwok opened #51 "Doc: math formulas not rendered on RTD"
https://radon.readthedocs.org/en/latest/intro.html#maintainability-index shows the source formula, not a human-friendly rendition.

[2014-03-09 17:56] #48 closed, assigned to nobody

[2014-03-09 19:22] #50 closed, assigned to nobody

[2014-03-20 13:30] wbolster opened #52 "External deps?"
The README states that:

However, `setup.py` contains this snippet:

[code]

Please update the README. :-)

[2014-03-20 17:18] #52 closed, assigned to nobody

[2014-03-28 13:32] ppeder08 opened #53 "CC Bug: while ... else"
I wouldn't expect the following function to have a CC of 10. It seems as if the else-statement of a while-loop adds 1 to CC and so does every line in the else-block.

[code]

[2014-03-29 10:28] #53 closed, assigned to nobody

[2014-07-24 20:09] #43 closed, assigned to rubik

[2014-07-25 19:44] rubik opened #54 "Change the image in the README"

[2014-07-25 20:03] #54 closed, assigned to rubik

[2014-07-30 08:16] rubik opened #56 "Unit tests take too much time"
They're not really unit tests if they take so much time. Currently the tests inside `test_cli.py` run for almost 90% of the total time.

[2014-07-31 21:56] saimn opened #58 "Packaging issue with the 'tests/' directory"
Hi,
as your tests directory is included in the distributed tarball as a top-level package, it is installed in python's site-packages (which can cause conflicts with other packages doing the same thing):

[code]

One option would be to exclude it from the distributed tarball, and the other option is to move it to `radon.tests`.

[2014-08-01 17:00] #51 closed, assigned to nobody

[2014-08-01 17:23] rubik opened #59 "Reduce pathfinder code to a minimum"
Or remove completely and replace with something slimmer.

[2014-08-01 17:31] #58 closed, assigned to rubik

[2014-08-02 10:43] #49 closed, assigned to rubik

[2014-08-09 06:46] rubik opened #60 "Get the docs up-to-date"
They're not up-to-date with all the commands.

[2014-08-13 11:32] #59 closed, assigned to rubik

[2014-08-13 18:51] rubik opened #61 "Docstrings are a mess"
After the big refactor, docstrings are very messy. Fix, bearing in mind:
- consistency: all docstrings should be more or less the same (Sphinx style or not?)
- accuracy: docstrings should be helpful

[2014-08-14 12:41] #56 closed, assigned to rubik

[2014-08-14 19:13] #61 closed, assigned to rubik

[2014-08-15 11:56] #60 closed, assigned to rubik

[2014-08-20 11:31] TheFriendlyCoder opened #62 "XML logging for cc tool doesn't respect min/max parameters"
I have just recently been tested the latest release of radon to experiment with the new --xml formatting parameter added to the 'cc' tool. In so doing I discovered that the XML output seems to be ignoring either the --min and --max parameters for some reason. Even when these command line options are specified, all complexity levels are included in the resulting XML report.

While this isn't curren

[2014-08-30 12:33] rubik opened #63 "cc -j or cc --xml fail when an analyzed file has a syntax error."

[2014-08-30 12:34] #63 closed, assigned to rubik

[2014-09-01 15:04] LarsStavholm opened #64 "Using radon "programmatically" - examples"
The documentation mentions "Using radon programmatically",
but I've yet to see any examples of that.

I'm not that experienced in python so a bit of help in this area would be very helpful.

[2014-09-06 07:21] rubik opened #65 "Eliminate shared state (Config objects) inside `test_cli_harvest`"

[2014-09-06 07:35] #62 closed, assigned to rubik

[2014-09-06 10:19] #64 closed, assigned to rubik

[2014-09-06 13:39] #65 closed, assigned to rubik

[2014-09-13 17:51] apollovy opened #66 "Error when analyzing empty file"
Hello.
The case is here:

cd /tmp
touch radon_test.py
radon raw radon_test.py

test.py
    LOC: 0
    LLOC: 0
    SLOC: 0
    Comments: 0
    Multi: 0
    Blank: 0
    - Comment Stats
        (C % L): 0%
        (C % S): 0%
ERROR: float division by zero

[2014-09-14 06:13] #66 closed, assigned to rubik

[2014-09-15 08:31] chiller opened #67 ""ERROR: float division by zero" in raw mode"
I am trying to run "radon raw ." in a django project and get this error.

This happens for empty files like "**init**.py" files

[2014-09-15 11:09] #67 closed, assigned to nobody

[2014-09-26 10:47] ppeder08 opened #68 "CC for lambda functions (and, more generally, nested functions)"
In the documentation on ReadTheDocs (https://radon.readthedocs.org/en/latest/intro.html#cyclomatic-complexity), the reasoning behind increasing CC by one when encountering a lambda function is that it is a regular function. This raises a couple of questions:
1. Why should a lambda function in itself increase the cyclomatic complexity? Surely, it does not in itself add any linearly independent path

[2014-11-13 09:36] Juanlu001 opened #70 "Cyclomatic complexity is 2 if class has only one method"
Minimal working example:

[code]

[2014-11-25 06:44] #68 closed, assigned to rubik

[2015-01-03 16:37] andredias opened #72 "Radon doesn't work with utf-8 encoded files"
[code]

[2015-01-14 12:47] ppeder08 commented on #68
Out of curriosity, when do you expect to make the next stable release of radon such that this issue is no longer present? I am planning to make a stable release of some software which uses radon to test the software for too high cyclomatic complexity :-)

[2015-01-16 08:38] rubik commented on #72
Unfortunately I cannot reproduce this bug. I tried with both Python 3.4 and 2.7. In both cases the command exits without errors.
Can you provide more information?

[2015-01-16 08:43] rubik commented on #70
I've modified the code a bit. Do you think this result makes sense?
[code]

[2015-01-16 08:46] rubik commented on #68
I'm sorry, but I've been super busy and couldn't keep working on radon... I wanted to close issue #70 at least. It should be only a couple of days.
Thanks for the patience!

[2015-01-16 15:36] Juanlu001 commented on #70
Cool, just as I expected! From my point of view this can be closed. Are you planning a release soon?

[2015-01-16 15:39] rubik commented on #70
Yes, I will release now.

[2015-01-16 15:39] #70 closed

[2015-01-16 16:04] rubik commented on #70
I released radon 1.2 to PyPI.

[2015-01-16 16:04] rubik commented on #68
I released radon 1.2 to PyPI. Sorry for the delay.

[2015-01-29 19:59] jackmurphy commented on #72
When I followed @andredias steps my terminal stripped out the utf characters and radon passed.

Maybe this will work better:
[code]

I'm running it in Ubuntu 14.04.1 LTS, python 3.4.0

[2015-01-30 08:28] rubik commented on #72
@jackmurphy When I execute that code, I get (on Python 3.4):
[code]

[2015-01-30 19:42] jackmurphy commented on #72
I get:
[code]

[2015-01-30 21:01] rubik commented on #72
Damn, I tried with Python 2, and really cannot reproduce it. You suggested it may be the terminal: I'm running URxvt, or rxvt-unicode. What is yours?

[2015-01-30 21:43] andredias commented on #72
I can't reproduce the very defect I reported anymore. Maybe because I've changed some locale settings.

[2015-01-31 08:48] rubik commented on #72
Damn, this is getting difficult. Let's hope @jackmurphy will be able to shed some insight on this.

[2015-05-07 16:47] tiyberius opened #75 "Radon doesn't report line numbers in XML output"
Radon currently reports the `complexity`, `unit`, `classification` and `file` for a given metric. A snippet of an XML report might look like:

[code]

I understand that Radon wasn't built to produce XML to be consumed by the [Jenkins CCM plugin](https://wiki.jenkins-ci.org/display/JENKINS/CCM+Plugin), but it would be nice if line numbers could be included in the metric because the CCM plugin looks

[2015-05-07 18:35] rubik commented on #75
Fair enough, it's an easy addition and I think it's handy to have it around.

[2015-05-07 18:36] #75 closed

[2015-05-07 18:36] rubik commented on #75
Let me know if it works as intended!

[2015-05-07 18:41] tiyberius commented on #75
Awesome! When you have something that you think works, let me know and I will gladly test it in my environment

[2015-05-07 19:00] tiyberius commented on #75
It works!!! This is awesome. You rock.

[2015-05-07 20:05] rubik commented on #75
Nice! :cake:

[2015-07-06 01:56] alecxe opened #76 "Radon as a flake8 plugin"
Would it make sense to make a simple wrapper around `radon` to make it `flake8` pluggable (similar to [mccabe](https://github.com/flintwork/mccabe))?

Thanks.

[2015-07-06 09:27] rubik commented on #76
I think it would. As for now, I only added the option `--radon-max-cc`, given that `--max-complexity` was already taken by mccabe. Would you try it and let me know?

I made a couple of runs and it seems to work as expected. Would you use other options? (Like `--no-assert`, or others...)

[2015-07-06 13:54] alecxe commented on #76
@rubik wow, that was quick.

First of all, `flake8` started to see the radon checker once I've installed radon into the virtual env - this part works as expected.

The current problem is, I think, that `radon` is enabled even if no radon-specific command-line arguments are passed. For instance, `mccabe` has the `--max-complexity=-1` by default:

    parser.add_option('--max-complexity', default=-1

[2015-07-06 14:20] rubik commented on #76
Wow, I feel dumb. Thanks for catching that bit. I also added `--radon-no-assert` as an experiment. I run flake8 on sympy and found reports of huge complexity (over 200) in test files. So no it's possible not to count `assert` statements.

The problem now is that one could supply `--radon-no-assert` and nothing would happen. It could be confusing. What do you think?

[2015-07-06 14:51] alecxe commented on #76
Thanks for the quick fix.

Yeah, current behavior could be confusing. It doesn't sound good to have `--radon-max-cc` flag enabling the checker.

May be it makes sense to enable radon checker if any of the radon-specific options are set applying defaults for others..
Another options would be to have a special `--radon-enabled` flag, but this would probably an over-complication.

Also, would it be p

[2015-07-06 15:17] rubik commented on #76
I'll think about this, maybe there is a better solution.

It certainly would, but MI is a very experimental metric which almost no one uses and I added just for my own interest. While CC is objectively useful, there are some concerns about MI, which are summed up nicely in this well-researched blog post by Arie van Deursen:
http://avandeursen.com/2014/08/29/think-twice-before-using-the-maintainabi

[2015-07-06 17:03] alecxe commented on #76
@rubik yeah, I agree, it is a quite controversial measurement. Makes sense.

[2015-07-08 08:02] rubik commented on #76
I don't think there's a good way to handle it for the user. The best idea was to enable the checker when a radon specific option was set, but then consider this case:

    $ flake8 --radon-no-assert ...

In this case the radon checker should be enabled, but what should the default be for `max_cc`? If it stays at `-1` then everything is reported (bad). On the other hand we could guess a default val

[2015-07-08 08:10] #72 closed

[2015-07-08 08:11] rubik commented on #76
I'll now write some docs on this and then I'll release version 1.2.2

[2015-07-08 15:33] alecxe commented on #76
I still like the idea that any radon-specific option enables the checker - it just sounds logical. In case of:

    $ flake8 --radon-no-assert

we can apply a default `max_cc` value (like 10). And I think an end user would understand it - in case `--radon-no-assert` is explicitly set, a user definitely wants a checker to work leaving all other settings in a default state.

We can try adding debug

[2015-07-08 16:45] rubik commented on #76
For one I don't know if it's possible to print a debug message, the plugin interface does not seem to support it. And furthermore what you are saying makes sense. A sensible default value would work (aside from -1, which is there only to disable the checker). I think 10 is a good one.

[2015-07-09 20:20] #76 closed

[2015-07-09 20:20] rubik commented on #76
Version 1.2.2 has been released.

[2015-07-09 20:28] alecxe commented on #76
Thank you for the quick changes!

[2016-02-11 17:11] jkemp101 opened #79 "Support for inner classes"
I believe inner classes are analyzed but the results dropped during the final processing.  So the output for the file below only includes results for joe1 and joe1.doit1.  Everything else is silently left out of the output.

[code]

[2016-02-11 21:16] rubik commented on #79
Yes, that's true. What's your use case? I believe the only scenario in which I regularly encountered inner classes are Django's Meta and such. And those have typically zero complexity. Do you have an example in which a complex class is defined inside another class?

In any case, I believe that the current behaviour could be changed as you say. Initially, I decided to leave those results out becaus

[2016-02-12 18:28] jkemp101 commented on #79
Unfortunately the legacy system I am working on uses inner classes in some of the UI pieces of the infrastructure.  One method has a CC over 80 it would be important for them to be reported.  I know inner classes aren't very popular but at a minimum radon should emit a warning that the class has inner classes and they won't be reported.  It is a little misleading have them left out of the output.

[2016-02-12 22:41] rubik commented on #79
I definitely agree. I'm slightly busy right now, but I think I can fix this the next week.

[2016-02-18 14:25] sils1297 opened #80 "coala"
Hi,

I just wanted to tell you that since a short time, radon is available in coala which means people can use it from various editors, in your CI or even to review github PRs automatically, a HTML report is in the making. (The goal of coala is to provide usability to arbitrary static code analyhsis, prevent everyone from rewriting his own UI.)

With that you get everything you need also for CI (h

[2016-02-18 14:25] sils1297 commented on #80
fwiw radon is only available in the development release i.e. `pip3 install coala --pre`

[2016-02-18 21:57] rubik commented on #80
That's great! I'll try it and then I'll add a link on the README.
I was looking at the code, and was wondering: why `radon_ranks_info` in `RadonBear` is empty? I would expect it to be `('A', 'B')`. I'm talking about this piece of code:
https://github.com/coala-analyzer/coala/blob/master/bears/python/RadonBear.py#L14

I have not yet read about how bears work, so I apologize if it's a feature and I

[2016-02-18 22:01] sils1297 commented on #80
the info results are shown by default and we don't want to bother the user with non problematic code.

If you want, drop by for a chat at https://gitter.im/coala-analyzer/coala :)

[2016-02-18 22:28] sils1297 commented on #80
Though from the sound of "info" we might want to change the default simply since that is indeed an information...

[2016-03-01 14:56] mrkeir opened #81 "is_multiline_string fails if previous_line length is less than 3"
The check '=' in previous_line[-3] within is_multiline_string (raw.py) fails with an ERROR: string index out of range if the previous line is less than 3 characters.

e.g:

    def function(
        args
    ):
        """This is a multi-line docstring
        for the function
        """
        pass

You will get string index out of range using `radon mi <filename>`  with the code above saved in

[2016-03-01 16:11] rubik commented on #81
Ouch! Thanks for the report!

[2016-03-01 16:17] #81 closed

[2016-03-01 16:26] #80 closed

[2016-03-02 12:24] #79 closed

[2016-03-02 12:26] rubik commented on #79
Inner classes are now shown in the output when the `--show-closures` flag is passed to the `cc` command. That flag was already present and only added closures to the output. Now inner classes are added as well. Example:
[code]

[2016-03-02 12:27] rubik commented on #79
A new release will be pushed to PyPI shortly.

[2016-03-02 13:00] jkemp101 commented on #79
Thanks for fixing this.  We'll give it a try.

[2016-03-09 09:24] sils1297 opened #82 "Fixing versions of required libs"
Hey! It's us again from coala.

Seems you just did a release with this line:
https://github.com/rubik/radon/blob/master/setup.py#L21

And it's giving us a lot of headaches (and CI failures) because you fix the colorama version to 0.3.6. So we have had long discussions last night and first off we don't know what's the best way to handle dependencies.

We totally see that it's a huge value to fix th

[2016-03-11 08:35] rubik commented on #82
I read the discussion on coala-analyzer/coala#1852. I agree that fixing versions and forcing the user to use a different virtualenv is not doable. I'd prefer to use `>=` but still disallow a major version increment.

The downside of this approach is that we would then have to update our requirements in sync, everytime a major version of a dependency is released. As for assessing how big of a hassl

[2016-03-11 08:47] sils1297 commented on #82
Well with those specific dependencies there's the problem that a minor increase can actually break the API since they haven't reached 1.x yet so if you want the dep to be API stable and it's in the 0.x stage you don't want to allow a minor version increment even.

[2016-03-11 08:49] rubik commented on #82
You are right, but consider that colorama has been very stable from the start. I've been using it for years and it never broke. Of course, since it's not 1.x yet it can break at any time, but I deem it unlikely considering its history.

[2016-03-11 09:27] sils1297 commented on #82
might make sense for them to release a 1.0 then IMO. So a good policy would be to use `package>=0.2,<0.3` or `package>=1.x,<2.0` for requirements I guess

[2016-03-11 22:10] rubik commented on #82
Yeah, I agree that the rules you propose would be best. I'll be releasing a new version with the fixed requirements shortly.

[2016-03-14 08:05] sils1297 commented on #82
Apparently there is https://www.python.org/dev/peps/pep-0440/#compatible-release and using `~=` sounds like the thing to do.

[2016-03-14 11:08] rubik commented on #82
Wow, that's exactly what is needed here. I didn't even know about the compatible release operator.

[2016-03-17 23:52] sils1297 commented on #82
hey, this is really hurting us, you'd help us by far if you could do a micro release just replacing your `==` for colorama with `~=` like ASAP, tomorrow is FOSSASIA and we want lots of people to try out our new shiny software there. This is still affecting them...

[2016-03-18 08:17] rubik commented on #82
I'm sorry, I made the changes locally and then tested a couple of things but didn't commit.

[2016-03-18 08:20] rubik commented on #82
Done. Radon 1.3.1 is on PyPI.

[2016-03-18 08:20] #82 closed

[2016-03-18 08:24] sils1297 commented on #82
thank you so much! You've made my day :)

[2016-03-29 13:25] andornaut opened #83 "Revert use of compatible release operator in requirements version specification"
Attempting to install radon 1.3.1 using pip 1.5.6 fails:
[code]
Whereas attempting to install radon 1.3.0 using pip 1.5.6 succeeds:
[code]
The error in the first example is caused by the use of the [compatible release operator](https://github.com/rubik/radon/commit/0572ba6f2c8ceee668674e376237dc91475317b2) in the "install_requires" argument to ``setuptools.setup()``. Instead, the compatible releas

[2016-03-29 20:50] rubik commented on #83
Thank you for your report. I'm curious: could you describe a scenario in which one must use pip 1.5.6? Since pip can upgrade itself, it does not seem like a big deal. However, I'm open to changing the version specification if this reveals to be necessary.

[2016-03-30 02:21] andornaut commented on #83
Pip can usually be upgraded, sure, but it'd be nice if this project did not require that a recent version be installed.

[2016-03-30 08:23] rubik commented on #83
Fair enough. I pushed version 1.3.2 to PyPI.

[2016-03-30 08:23] #83 closed

[2016-04-18 15:10] caiofbpa opened #85 "Support configuration file"
I use radon on CodeClimate, and it's the only engine that requires configuration inside my `.codeclimate.yml` file. It would be much more straightforward to have a `.radon.yml` or `.radon.txt` file with the configurations, so I could run `codeclimate analyze -r radon` and/or `radon` itself and have the same output without having to figure which parameters codeclimate passes for each configuration

[2016-04-18 22:27] rubik commented on #85
That's a reasonable point, but unfortunately Radon follows CodeClimate's Engine specification, which you can find here:
https://github.com/codeclimate/spec/blob/master/SPEC.md

The spec states that all the configuration (for all engines) happens in `.codeclimate.yml`. You could propose a change to the spec.

[2016-04-19 13:07] caiofbpa commented on #85
Thanks for your quick response @rubik!

Take look at CodeClimates's [pep8 engine docs](https://docs.codeclimate.com/docs/pep8). You can configure CodeClimate-related stuff on `.codeclimate.yml` (like which files will get rated), but pep8 configuration should happen on the `.pep8` file.

Do you see that as a spec violation?

[2016-04-20 16:02] rubik commented on #85
I wouldn't say it's a spec violation, as the spec isn't really precise on this topic.
If I understand correctly, you want to be able to specify radon config in its own file? And the `.codeclimate.yml` would then be used only to decide which files to analyze?

[2016-04-20 17:29] uetoyo opened #86 "Could not decode an unicode characters"
I get this error when using accented letters (ěščřžýáíéó). I can omit them in doc strings, but I have to use them in regexp. Thanks for help!

`ERROR: 'charmap' codec can't decode byte 0x81 in position [...]: character maps to <undefined>`

Note: I have this line at top of the file: `#  -*- coding: utf-8 -*-`

[2016-04-20 19:19] rubik commented on #86
I cannot reproduce this. I tried with both Python 2 and 3, and this file was analyzed correctly:
[code]

The line at the top of the file is never used by Radon, which always tries to decode the bytes as UTF-8.

[2016-04-21 06:42] uetoyo commented on #86
I am sure that encoding is ok. i have problem wit upper case letters:

[code]

`ERROR: 'charmap' codec can't decode byte 0x98 in position 12: character maps to <undefined>`

[2016-04-21 07:39] rubik commented on #86
Still cannot reproduce it, sorry. There was another issue like this one some time ago, and after the author changed some local settings (maybe in the terminal?) even he himself couldn't reproduce it.
https://github.com/rubik/radon/issues/72

[2016-04-22 14:38] caiofbpa commented on #85
I would like even the decision about which files to analyze (or ignore) to be in radon's own config file.

But if you agree to add only the threshold configs, that would still be an improvement to me.

[2016-05-03 19:30] mrb commented on #85
@caiofbpa @rubik Hi! Sorry I missed this issue. It's totally okay spec-wise to have a config file outside of the .codeclimate.yml. Engines will typically search for the standard config file (e.g. Rubocop looks for `.rubocop.yml`) and Radon could behave the same way.

[2016-06-03 10:14] tsunammis opened #90 "Radon doesn't compute complexity for "async" method (Python 3.5)"
Hello,

I discovered that Radon doesn't compute complexity for "async" method.

Example:

[code]

Radon displayed me only the non-async methods like below.

[code]

The complexity of `third_function` is not computed.

Any idea ?

[2016-06-03 11:51] rubik commented on #90
Very interesting. When I first wrote Radon the `async` syntax didn't even exist, so I guess it's being parsed in a different way and the AST ends up different. I'll take a look, thanks.

[2016-06-03 12:41] tsunammis commented on #90
Thanks :)

[2016-06-03 19:09] #90 closed

[2016-06-03 19:10] rubik commented on #90
Should be fixed now. Please reopen if you find other cases in which radon does not work!

[2016-06-03 20:02] tsunammis commented on #90
Thanks a lot, did you update version on pypi ?

[2016-06-04 07:31] rubik commented on #90
Yep, version 1.4.0.

[2016-06-05 21:37] tsunammis commented on #90
@rubik thanks :)

[2016-06-24 18:49] cemsbr opened #91 "How to read Comment Stats in raw metrics?"
What are (C % L), (C % S) and (C + M % L)? I couldn't find them in the docs.

[2016-06-25 06:27] #91 closed

[2016-06-25 06:29] rubik commented on #91
Thanks! I added a brief explanation here:
http://radon.readthedocs.io/en/latest/intro.html#raw-metrics

Let me know if it still isn't clear.

[2016-07-26 19:37] 9seconds opened #92 "Crash with Flake8 3.0.1"
Hi,

I've installed radon (1.4.0) with Flake8 3.0.1 and got following error on flake8 execution:

[code]

I guess, this issue is similar to https://github.com/PyCQA/flake8-import-order/issues/79

[2016-07-26 19:39] sigmavirus24 commented on #92
See also: http://flake8.pycqa.org/en/latest/plugin-development/cross-compatibility.html

[2016-07-26 20:16] #92 closed

[2016-07-26 20:20] rubik commented on #92
Version 1.4.1 pushed to PyPI. I've tested it on Flake8 2.x and 3.x, but let me know if there are other problems.

[2016-10-15 10:50] povilasb opened #93 "Doesn't support mypy annotations"
Sample code snippet:
[code]

This is a valid python 3 code.
Running radon `1.4.2` on this code returns me an error:
[code]

See: http://www.mypy-lang.org/

[2016-10-15 11:25] rubik commented on #93
Cannot reproduce. Are you running radon with Python 2?

[2016-10-15 12:41] povilasb commented on #93
Ahh, you're right. I used python 2 interpreter....

[2016-10-15 12:41] #93 closed

[2016-10-28 16:09] SowingSadness commented on #86
[views.zip](https://github.com/rubik/radon/files/558839/views.zip)

views.py
    ERROR: 'charmap' codec can't decode byte 0x98 in position 1786: character maps to <undefined>

This error symbol is "И"
Then i replace the symbol in file this error hidden.

[2016-10-28 16:15] SowingSadness opened #94 "python3: Do not understand cyrillic sybols"
[code]

[2016-10-29 07:09] rubik commented on #94
Cannot reproduce. You are most likely using Python 2, because this is what I get on Python 3:
$ radon cc cyr.py
cyr.py
    C 1:0 Foo - A
    M 2:3 Foo.метод - A
$ python cyr.py
$ python2 cyr.py
  File cyr.py, line 2
SyntaxError: Non-ASCII character '�' in file cyr.py on line 2, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details
[code]

[2016-10-29 07:10] rubik commented on #86
@SowingSadness Cannot reproduce, you are probably on Python 2, see #94.

[2016-10-29 13:08] grayaii opened #95 "summary not in json"
The following command does not put the summary in the json:
radon raw .  -s -j

[2016-10-29 13:09] grayaii opened #96 "no way to ONLY get the summary"
We have hundreds of files in our project.
The following command prints gobs and gobs of output:
radon raw . -s
I only want the summary, not the details of each file.

[2016-10-29 15:14] rubik commented on #95
That's intended, the summary does not belong to the JSON, which contains the blocks only. It's just additional output for the terminal.

[2016-10-29 15:15] rubik commented on #96
Truth be told, the summary isn't very useful. If you have hundreds of files, you'll also have hundreds of functions and most of them will be A. So the summary will give you A.

Radon was conceived to detect where in the codebase the code is most complex. So you should run it and filter according to the rank. For example, `radon cc -n C` will output only the blocks with a rank of `C` or higher.

[2016-10-30 08:31] SowingSadness commented on #94
Reproduce windows only :)

![screenshot_2](https://cloud.githubusercontent.com/assets/576443/19835290/434a0112-9e92-11e6-9502-0abba6a98a86.png)

same PC, but in windows subsystem linux:
![screenshot_3](https://cloud.githubusercontent.com/assets/576443/19835337/43699444-9e94-11e6-9729-8f96af81b6b4.png)

[2016-10-30 08:53] rubik commented on #94
Ah, Windows, I see. I think it could be that the default encoding on Windows does not have Cyrillic symbols, and Radon is using that one. I shall investigate.

[2016-10-30 09:01] SowingSadness commented on #94
@rubik default encoding in windows - cp1251. But all examples in UTF8 )

[2016-10-31 14:45] grayaii commented on #96
gotcha. makes sense. thanks for quick response!

[2016-10-31 14:45] #96 closed

[2016-10-31 14:46] grayaii commented on #95
If that's intended, then this is not a bug. Closing.

[2016-10-31 14:46] #95 closed

[2016-10-31 15:03] grayaii opened #97 "takes 2.5 hours to run (other tools take take less than 5 min)"
I've been trying various tools to get CC of my project and I found that running radon takes around 2.5 hours to run through my project, whereas other tools like [mccabe](https://pypi.python.org/pypi/mccabe) and [lizard](https://pypi.python.org/pypi/lizard) take around 5 min to run:

[code]

I'm just curious if there is an underlying issue in performance or if you know a way to speed up the executi

[2016-10-31 16:29] rubik commented on #97
The problem is that you are not comparing the same thing. The other tools only compute cyclomatic complexity, so you should compare them with `radon cc` only.

To compute cyclomatic complexity Radon makes use of the Python AST parser, which is written in C and therefore it should be quite fast. On the other hand, to compute raw metrics Radon needs the source code tokens. It uses the `tokenize` mod

[2016-10-31 17:37] grayaii commented on #97
you're right! the cc command is lightning fast, but the raw command is super slow.

[2016-10-31 17:37] #97 closed

[2016-10-31 18:47] rubik commented on #97
Yeah. Unfortunately there's no simple way to work around the slowness of the `tokenize` module.

[2016-11-02 03:51] impredicative opened #98 "Missing Python 3.5 Category"
Is there any reason why `Python :: 3.5` is not listed under Categories on the [pypi](https://pypi.python.org/pypi/radon) page? Better yet, compare with Categories for the entries for [pycodestyle](https://pypi.python.org/pypi/pycodestyle) and [pylint](https://pypi.python.org/pypi/pylint).

[2016-11-02 12:24] rubik commented on #98
Yes, the reason is that I forgot to add it. Thanks for the reminder. The other categories are very similar to the packages you mentioned. The most important ones like `Environment :: Console`, `Topic :: Software Development :: Quality Assurance`, `Topic :: Utilities`, `Intended Audience :: Developers` are all there.

[2016-11-02 12:26] rubik commented on #98
Fixed in https://github.com/rubik/radon/commit/aba436f297671ce3e44151a4a91627785b89974c, thanks!

[2016-11-02 12:26] #98 closed

[2016-12-18 08:56] #86 closed

[2016-12-18 09:09] rubik commented on #94
Closed by #99. Can you retry by setting `RADONFILESENCODING=utf-8`?

[2016-12-18 09:09] #94 closed

[2016-12-18 09:53] SowingSadness commented on #94
@rubik I don't know is right version in PyPi or nor.
![image](https://cloud.githubusercontent.com/assets/576443/21292774/e9da73f4-c520-11e6-88cf-89d5aafa3488.png)

[2016-12-18 10:16] rubik commented on #94
No, it's not on PyPI yet, you should install from master.

[2016-12-21 22:27] JeroenDeDauw opened #100 "Allow filtering and sorting by maintainability index"
I have a codebase where everything gets ranked A with the MI command. I'd like to get a list of the lowest scoring code and not be bound to the crude categorization of A B and C. Using option `-s` I can see there are some results with a MI under 50. There is no way to just show those though. Looking at the docs I figured the `-x` option would work, though unfortunately it just takes the category (

[2016-12-28 17:12] pointlessone opened #101 "[py2] TypeError: 'encoding' is an invalid keyword argument for this function (open)"
Hello,

I'm having some issues running Radon master with Python2.

I'm getting this error:

With some digging I managed to get this traceback:

[code]

I'm running Radon master (8e1e7fcd14c4da911a95ba910782002745073605) with Python 2.7.13 on Linux.

[2016-12-29 09:51] rubik commented on #101
Damn, you are right, thanks for the report

[2016-12-29 11:08] #101 closed

[2016-12-29 13:02] pointlessone commented on #101
Cheers!

[2017-01-15 13:36] lsh-0 commented on #72
was nobody able to replicate this? I'm getting it now:

`WARNING:xenon:cannot parse src/publisher/tests/test_ajson_ingest.py: 'ascii' codec can't decode byte 0xc4 in position 23933: ordinal not in range(128)`

I'll try and reduce this down to something repeatable.

[2017-01-27 07:38] rubik opened #103 "Replace nose, unittest and paramunittest with pytest"

[2017-01-27 10:29] #103 closed

[2017-03-05 16:58] svisser opened #105 "Plugin version is not displayed properly in flake8 --version output"
`flake8` prints `<property object at 0x.........>` rather than `1.4.2` when `flake8 --version` is called.

Steps to reproduce:

    pip install flake8==3.3.0 radon==1.4.2
    flake8 --version

gives:

    3.3.0 (mccabe: 0.6.1, pycodestyle: 2.3.1, pyflakes: 1.5.0, radon: <property object at 0x1092c0d08>) CPython 2.7.10 on Darwin

[2017-03-05 20:17] rubik commented on #105
Thanks for the report, I had never noticed this.

[2017-03-05 20:19] #105 closed

[2017-03-05 20:35] svisser commented on #105
Thank you!

[2017-03-09 15:31] SpotlightKid opened #107 "Include missing files in MANIFEST.in"
To help packing radon for distributions, could you please include the following files in `MANIFEST.in` so that they get included in the source distribution:

* `LICENSE`
* `CHANGELOG` (referenced by `docs/changelog.rst`)

(For context, I'm maintaining https://aur.archlinux.org/packages/python-radon/)

[2017-03-10 14:02] #107 closed

[2017-03-10 14:03] rubik commented on #107
Done. Thanks a lot for maintaining the AUR package!

[2017-03-10 14:12] SpotlightKid commented on #107
Thanks. Unfortunately, I can't update the AUR package to the latest version at the moment, because the python-bleach package is out-of-date and still at 1.5.x. Will update asap.

[2017-03-10 14:14] SpotlightKid commented on #107
Ups, sorry, I was thinking about the `readme_renderer` AUR packeg, not `radon`. please disregard my comment.

[2017-03-10 14:26] twschiller opened #108 "Handle string interpolation in Python 3.6"
Radon reports interpolated strings (f-strings) as syntax errors when running on Python 3.6 code.

Syntax: [PEP 498](https://www.python.org/dev/peps/pep-0498/)

[2017-03-10 16:16] rubik commented on #108
Syntax errors are not possible, because Radon leverages Python's AST parser. Therefore the only possible explanation is that you're running Radon with a version of Python that does not support interpolated strings. Maybe it's version 3.5?

[2017-03-10 16:55] twschiller commented on #108
Got it. I'm seeing the error on Code Climate, so will follow up with them.

Code Climate Radon Docs, for reference: https://docs.codeclimate.com/v1.0/docs/radon

[2017-03-10 16:55] #108 closed

[2017-03-10 19:58] rubik commented on #108
Ah I see. The docker image should be using Alpine Linux, which as far as I know still does not support Python 3.6:
https://github.com/jfloff/alpine-python

[2017-03-30 23:49] zukoj opened #109 "LOC is not showing the actual Physical Lines of Code"
sloc+blank=loc does not hold

Currently:
LOC = the actual Physical LOC - Single comments - Blank (As is shown in the attached file)

[Error log.txt](https://github.com/rubik/radon/files/884091/Error.log.txt)

[2017-04-02 06:18] rubik commented on #109
This has probably something to do with the recent PR regarding raw metrics. I'll have a look into it.

[2017-04-02 14:46] zukoj opened #110 "Summary comments stats"
It would be useful to see comment stats in the summary

[2017-04-02 15:46] zukoj commented on #109
Proposed a fix for it

[2017-04-02 15:47] zukoj commented on #110
Proposed a fix

[2017-04-04 14:16] 0-wiz-0 opened #112 "mando dependency unnecessarily restricted"
`requirements.txt` and `setup.py` constrain mando to version <0.4. 0.5 is out, and radon seems to work fine with that version. Please remove the restriction.

[2017-04-04 15:03] rubik commented on #112
You're right, I forgot to update the setup file. Thanks for the heads up, it has been fixed in 74c01b78fb62a4eb687058968ee491e85c549648.

[2017-04-04 15:03] #112 closed

[2017-04-23 15:15] pierre-rouleau opened #115 "radon 1.5.0 fails on code with PEP263 encoding statement"
Using:
- Windows 7
- Python  2.7.10
- radon 1.5.0
- installed: colorama-0.3.8 flake8-3.3.0 mccabe-0.6.1 pycodestyle-2.3.1 pyflakes-1.5.0 radon-1.5.0
- RADONFILESCODING environment unset

With any python source code file that starts with the following line:
`# -*- coding: iso-8859-1 -*-`

Executing `runradon mi ` for the specific python source code file,

radon 1.5.0 reports the following error:  "

[2017-04-24 08:01] rubik commented on #115
Can't reproduce with Python 2.7 and radon 1.5.0 on Linux. I'll try it on Windows as soon as I can. Note, however, that there was a bug in relation to how RADONFILESENCODING was used. Could you try with master? (Also, you may have a typo in the env var name.)

[2017-04-24 12:37] pierre-rouleau commented on #115
Sorry, the typo is inside my report.  In the command shell I was using:

`set RADONFILESENCODING=ISO-8859-1` or `set RADONFILESENCODING=UTF-8` and `set RADONFILESENCODING=` to get rid of it.

[2017-04-24 12:39] pierre-rouleau commented on #115
Also, is this not an issue related to the fact that we are attempting to specify Unicode and then chnging the encoding with the `# -*- coding: iso-8859-1 -*-` line?

[2017-04-28 17:09] hagifoo commented on #115
I use same encoding statement (`# coding: utf-8`) and got same error `ERROR: encoding declaration in Unicode string (<unknown>, line 0)`.

Using:
- Mac OS.X 10.11
- python 2.7.12
- radon 1.5.0
- RADONFILESCODING environment unset

I changed `fobj.read()` in `radon.cli.harvest.MIHarvester.gobble` to `fobj.read().encode('utf-8')` and it works (this is not a good solution).

The following is my guess

[2017-05-30 17:36] #109 closed

[2017-05-30 18:09] #110 closed

[2017-05-30 21:10] rubik commented on #100
Hi Jeroen, sorry for the super late reply.
Rank is there because there is no point in distinguishing individual MI values. The important thing is the magnitude, and the separation of the three groups is a heuristic established by Visual Studio developers, who found it to be working well enough in practice.
On the other hand, sorting makes sense and I'm adding an option to sort in ascending order.

[2017-05-30 21:14] #100 closed

[2017-05-31 13:38] grayaii opened #119 "Using python2, but getting: : Missing parentheses in call to 'print'"
When I run:
[code]
I get this error:

[code]

[code]

It seems to think it wants python3 syntax, despite I'm using python 2.

[2017-05-31 18:45] rubik commented on #119
Radon uses the Python AST parser, therefore if it reports that error it means that it's using Python 3's AST module.

Can you try the following and report back?
[code]

By trying the above, I get the error only in the second case, as expected.

[2017-05-31 20:35] grayaii commented on #119
dang! I'm getting the same results as you now.  I will check my env a bit more carefully to see if i can reproduce the problem.  Sorry to have wasted your time.

[2017-05-31 20:35] #119 closed

[2017-06-01 23:57] Deimos opened #120 "mando requirements very heavy + mismatched requirements.txt and setup.py"
The minor thing first: setup.py has `'mando>=0.5,<0.6'` while requirements.txt has `mando>=0.3,<0.4`.

I noticed this because the upgrade to radon 2.0.0 (which upgraded mando to 0.5) installed a huge number of new packages as well:

[code]

Maybe this should be an issue on the mando project instead, but is installing sphinx really necessary for mando? That's *way* more packages than I want to add

[2017-06-02 07:23] rubik commented on #120
Hi Chad,
thanks for the report.

Indeed, the requirements.txt file is out-of-date. The other issue should be on the mando project, but we can avoid the hassle of moving the issue since I'm the maintainer of both projects.
First of all, let me say that I agree with you that having that many dependencies for mando is too much. And the majority of them aren't even used! The Sphinx dependency is only

[2017-06-02 15:26] aleskarovadi opened #121 "Errors with code R701 aren't included into pepper8 report"
Hi! I would like to use radon with flake8 to check my code and then to transform flake8 output into html report using pepper8 tool. But errors found by radon plugin for flake8 aren't included into this report.

Example:
I run flake8 with the command ```flake8 --output output/report.txt --radon-max-cc 5 linter/``` and get several error messages in ```report.txt```:
[code]

When I want to generate h

[2017-06-02 18:51] rubik commented on #121
Thanks for the very detailed issue.
I actually don't ever recall reading a specification about this, so I don't think there's any problem altering the message.

[2017-06-02 18:52] #121 closed

[2017-06-02 19:01] Deimos commented on #120
Thanks for the quick response, and I'm glad you're interested in trying to reduce the dependencies. I was definitely surprised when I saw how many new things showed up after upgrading yesterday.

I think both of your suggested options sound like good approaches, so whichever one works out the simplest is probably great.

[2017-06-04 10:00] rubik commented on #120
So, I have reduced mando dependencies. I have released version v2.0.2 which has the correct dependency requirements.

It appears that now we have another problem, much like this one: `flake8-polyfill` depends on `flake8`, which in turns brings in a number of unneeded dependencies. Namely:
[code]

This `flake8` dependency is really only needed for its version!
https://github.com/PyCQA/flake8-polyfi

[2017-06-04 10:00] #120 closed

[2017-06-05 01:38] kfir-rocketrip commented on #120
Unfortunately it looks like v2.0.2 is broken when it comes to dependencies.  This is the error I got on a fresh install.

`  0 Traceback (most recent call last):
  1   File "/Users/xyz/.pyenv/versions/rocketrip.venv/bin/radon", line 11, in <module>
  2   sys.exit(main())
  3   File "/Users/xyz/.pyenv/versions/3.5.2/envs/rocketrip.venv/lib/python3.5/site-packages/radon/__init__.py", line 10, in mai

[2017-06-05 01:39] kingink commented on #120
Unfortunately it looks like v2.0.2 might be broken when it comes to dependencies.  This is the error I got on a fresh install.

`  0 Traceback (most recent call last):
  1   File "/Users/xyz/.pyenv/versions/rocketrip.venv/bin/radon", line 11, in <module>
  2   sys.exit(main())
  3   File "/Users/xyz/.pyenv/versions/3.5.2/envs/rocketrip.venv/lib/python3.5/site-packages/radon/__init__.py", line 10,

[2017-06-05 06:29] rubik commented on #120
Weird. I tested it in a fresh virtualenv! Let me take a look.

[2017-06-05 07:05] rubik commented on #120
Indeed, it was a problem with mando and the new changes, my bad. I pushed a new version (v0.6.4) and tried it thoroughly in a new env.

[2017-06-05 18:56] Deimos commented on #120
It looks great to me, thanks very much for addressing that so quickly, @rubik . I upgraded radon from 1.5.0 to 2.0.2 and this time the only other change was mando going from 0.3.3 to 0.6.4 with no other new packages added.

[2017-06-05 20:24] maqquettex opened #122 "Radon 2.0.0 does not work correctly with async/await"
![image](https://cloud.githubusercontent.com/assets/17751432/26800445/ffdfa65a-4a41-11e7-8846-4570f01187cf.png)

After trying to check CC of my aiohttp-based project I discovered radon does not work with async/await syntax. Files without async/await syntax are parsed and checked fine.

python version: 3.6.1
radon: 2.0.0 (installed with pip install radon==2.0.0)

According to #90 I tried to use rad

[2017-06-05 21:01] rubik commented on #122
I just tested your file and radon parses it correctly. As said elsewhere, SyntaxError's are not possible, since radon uses the AST parser bundled with Python. Therefore, if Python can parse the file, radon can analyze it.

You've probably installed radon with the Python 2 Pip.

[2017-06-06 11:29] maqquettex commented on #122
Looks like you`re right, somehow radon executed from python2. Tested with virtualenv and python3, works like a charm.
Thanks for quick reply, i`m closing issue due to the absence of a crime :)

[2017-06-06 11:29] #122 closed

[2017-06-20 04:50] gdub opened #123 "should the with statement add to cyclomatic complexity?"
The docs state that the `with` statement adds to cyclomatic complexity because a `with` roughly corresponds to a `try`/`except`.

While a `with` statement does translate to a `try`/`except`/`finally` under the hood, why should this count towards the complexity of the code containing the `with` statement?  There is no additional execution branch present in the code containing the `with` statement,

[2017-06-29 06:46] wangleixin2017 commented on #86
I meet the same problem ,anyone know how to  solve it?

[2017-06-29 07:05] AsnelChristian opened #125 "Add a command for the halstead complexity"
Maybe there should be a command that returns the measure of the halstead complexity.

[2017-07-07 19:02] cr opened #126 "radon fails to detect (UTF-8) source encoding declaration"
Probably more feature request than bug, but it took me quite a while to figure out how `radon` handles non-ascii encodings. Turns out that radon is currently limited to report on modules that contain a maximum of one non-ascii source encoding.

### Problem
`radon` ignores source file encoding declarations, for example by a header line like `# -*- coding: utf-8 -*-`, and instead skips all files con

[2017-07-07 21:31] cr commented on #126
The standard for this is defined in [PEP 263](https://www.python.org/dev/peps/pep-0263/). Implementing encoding detection is surprisingly straight-forward:

[2017-07-08 12:24] cr commented on #126
Duplicate of #115

[2017-07-08 12:24] #126 closed

[2017-08-04 17:37] dlocke opened #127 "Maintainability index fails when PEP 263 encoding statment is present"
I created a simple file named test_radon.py

[code]

Radon is able to compute the cyclomatic complexity but fails when trying to compute the maintainability index.

[code]

Without the encoding line I get the expected results

[code]

[2017-08-16 08:41] nsavelyeva opened #128 "integration "radon raw" results into jenkins"
It would be great if the results of "radon raw" command can be integrated into Jenkins through the plugin https://wiki.jenkins.io/display/JENKINS/SLOCCount+Plugin.

The plugin needs SLOCCount or cloc report files, example contents of a cloc report file is given at http://cloc.sourceforge.net/#combine_reports.

[2017-08-20 21:32] thebjorn commented on #127
I can verify that this happens on windows too:
[code]

[2017-08-20 23:36] thebjorn commented on #127
The error comes from the call to `ast.parse()` in `radon/metrics.py`. It is passed a unicode string that is read (`fobj.read()`) in `MIHarvester.gobble()`, from a file that is opened using `_open_function(path, encoding=_encoding)` in `radon/cli/tools.py`.

Aside: ..that `_encoding` variable is wrong, since it assumes all files will have the same encoding, which it is guessing is `locale.getprefer

[2017-08-26 08:07] rubik commented on #127
Hi @thebjorn!
Thanks for the analysis, it's been useful. I closed your PR because I didn't like the hackish fix of opening the file a second time. You gave me the right ideas though, and I proposed another solution in #130. I'd like to hear what you think. Can you also verify it on Windows? I cannot at the moment.
That fix would solve the issue on Python 3 but the tokenize.open function is not pre

[2017-08-28 10:44] thebjorn commented on #127
Hi @rubik , glad to help :-)  I left a comment on #130 regarding the bare except and the Py2 issue. Other than that it looks ok. I'll try it out on win/py2.7 later today to verify.

[2017-08-29 06:58] #115 closed

[2017-08-29 06:58] #127 closed

[2017-08-29 07:03] rubik commented on #125
I had thought about it initially, but it would be a lot of work for something of dubious utility. I regret adding the `mi` command for the same reason. The important ones are `cc` and `raw`. If someone wants to take a shot at it, I'll happily review the changes. It has to follow the `Harvester` API like the other commands.

[2017-08-29 07:06] rubik commented on #128
Interesting. We already support exporting `cc` data to Jenkins via XML, so I might as well look into this one.

[2017-08-29 09:41] nsavelyeva commented on #128
Thank you!
As for 'radon cc --xml', - very handy, I already use that feature - it was a ticket https://github.com/rubik/radon/issues/49.

[2017-08-29 13:25] collinstocks-oscar commented on #115
Do you know when to expect this to be released now that it is fixed?

[2017-08-31 12:53] Spirit328 opened #132 "Docker container does start ONLY and nothing happens"
Hi rubik!

Let me start with a huge "THANK YOU" for radon.
As I am not good in Python things, I went to the Docker container solution.

I did a docker build -t radon . (in the directory where the Dockerfile is) and Docker built the container without complains.

But then it just starts, says
[code]
... and dies.

I think this is because of the parameters given after CMD in the Dockerfile, right?
Ho

[2017-08-31 16:30] rubik commented on #132
Hi Thorsten,
thank you for your kind words.

The Docker setup is there for CodeClimate. You can either enable radon from their web interface (if you use it) or you can host it yourself. You have to start from their README [here](https://github.com/codeclimate/codeclimate).

That said, if you want to analyze your local directories the above setup is really complicated in my opinion. It's much bette

[2017-09-05 14:14] collinstocks-oscar opened #133 ""unexpected indent" if first line of module is a class (v2.0.3)"
`radon cc --json` fails on the following file (assuming no blank lines above the class):

[code]

[code]

Obviously there's no real error here. Any idea why this might be?

[code]

[2017-09-05 14:48] rubik commented on #133
Thanks for the report. I see that this error happens only in Python 2, whereas in Python 3 it works correctly. It's a weird one, I'll look into it.

[2017-09-05 18:52] collinstocks-oscar commented on #133
Thanks! This is a rare error since usually the first line is either a comment or an import statement, so I'm not personally in a rush to see a fix. But like you said, it's probably related to the encoding handling (if it's a new error -- I didn't test on earlier versions of radon).

[2017-09-07 07:11] #133 closed

[2017-09-07 07:57] rubik commented on #133
It should be fixed in version 2.1.1 which I pushed to PyPI.

[2017-10-25 13:05] Spirit328 commented on #132
Sorry for not replying earlier.

I quit using a container (for this case).
THANK YOU very much for your fast answer. It helped me very much.

Cheers
Thorsten

[2017-10-25 13:05] #132 closed

[2018-01-14 12:27] #125 closed

[2018-03-15 12:45] Lightslayer opened #137 "Feature request: HTML reports"
Would it be possible to add HTML reporting of all three types of metrics (cc, mi, raw) linked to the source code (perhaps in a similar way to [flake-8](https://github.com/lordmauve/flake8-html))?

[2018-03-27 07:25] rubik commented on #137
Hi Liam, sorry for the delay. It's definitely possible and probably not even that difficult, maybe using a template engine like Jinja2. However right now I'm very busy with my work, so I cannot dedicate time to the project. If you want to contribute though, I'll be happy to review your PRs.

[2018-04-05 12:32] SowingSadness opened #139 "radon fails to read files with utf-8 with BOM encoding on Windows"
![image](https://user-images.githubusercontent.com/576443/38365929-cbeef992-38e6-11e8-9a0f-69404555d250.png)

[utf8-bom.zip](https://github.com/rubik/radon/files/1879986/utf8-bom.zip)

[2018-04-05 16:50] rubik commented on #139
Hi, at the moment I'm very busy and I don't have time to debug this unfortunately. However, I've already received similar reports in the past and in all cases it was either a Python 2 problem or the person who reported the problem couldn't reproduce it consistently. If you find a problem and open a PR I will gladly review it.

[2018-04-05 17:02] SowingSadness commented on #139
@rubik Thanks for you'r answer! I was on of that persons :)
The problem was about a file encoding in past.
This is another issue. I used radon 2.2.0 and Python 3.3.5. It is about BOM symbols only.
Radon + Python 3 + Windows + utf-8 without BOM work correct.
I will try to create PR if i can.

[2018-04-05 19:44] rubik commented on #139
@SowingSadness Ha! If you can manage a PR I would be very grateful.

[2018-05-13 17:35] sasanquaneuf opened #140 "fail to parse code that contains print(*foo)"
Hello. I tried to check a code that contains print(*foo), then I got error message.

[code]

The code is here:

<img width="470" alt="2018-05-14 2 31 14" src="https://user-images.githubusercontent.com/16289609/39969991-1b35ba8a-571f-11e8-8d23-a00b8905a709.png">

regards,

[2018-05-16 01:46] sasanquaneuf commented on #140
Sorry, somewhat I used radon of python 2.7, I retry with radon of python 3.6 and it works.

[2018-05-16 01:47] #140 closed

[2018-06-13 08:11] mzfr opened #141 "using radon programmatically"
Is it possible to use the `radon.raw.analyze` function with the directory path ?

What I want is the average of all the lloc, loc etc.
In CLI we do: `radon raw <dir_path> -s` this give all the metrics and then in the end it gives the `** TOTAL **` I want to get that total thing but with code.

[2018-06-13 09:03] rubik commented on #141
Yes, it's possible. Look at how Xenon does it:
https://github.com/rubik/xenon/blob/e48b1394482d5bafa6e2dc0cd983845b1093aa00/xenon/core.py#L10-L34

You have to create a `Config` object and a `Harvester` object and then you can call the analyze method.

[2018-06-13 09:06] #141 closed

[2018-06-20 20:03] grayaii opened #142 "ERROR: string indices must be integers, not str"
I'm getting the following error when using radon:

    radon cc  --xml my_repo
    ERROR: string indices must be integers, not str

This happens with python 2 and python 3.
It also happens with the following radon versions (I didn't test earlier than 1.4.2):
1.4.2,1.5.0, 2.0.0, 2.0.1, 2.0.2, 2.0.3, 2.1.1, 2.2.0

[2018-06-20 20:29] grayaii commented on #142
I was able to get a stack trace:

    Traceback (most recent call last):
      File "/Users/alexgray/.pyenv/versions/2.7.14/lib/python2.7/site-packages/radon/__init__.py", line 15, in main
        program()
      File "/Users/alexgray/.pyenv/versions/2.7.14/lib/python2.7/site-packages/mando/core.py", line 201, in __call__
        return self.execute(sys.argv[1:])
      File "/Users/alexgray/.pyenv

[2018-06-20 20:47] grayaii commented on #142
OK. I found the root cause.  We had a python file that had a typo in it.  Once we fixed the typo, radon finsihed successfully.

[2018-07-19 10:16] schettino72 opened #143 "raw metrics of single line docstrings"
First, I have not read the code... just experimenting with some samples. Sorry if I got any wrong conclusion.

I have noticed that single-line docstrings are counted as `single_comments` but not `comments`.

The problem is that on "Comment Stats", the `C` seems to refers to `comments` so single line docstrings are never include even on `C + M`. I guess a quick solution would be make:

[code]

`com

[2018-08-08 08:28] mzfr opened #145 "Report error if the input doesn't exists"
I have been using radon from a while but just noticed this issue. If you pass a random name to radon it doesn't report something like `File doesn't exists` etc. It just stops.
I think there should be a check for this

[2018-08-08 10:49] rubik commented on #145
Which subcommand are you using?

[2018-08-08 14:44] mzfr commented on #145
All.

* `radon cc sjkdnasklas`
* `radon cc sjkdnasklas -a`
* `radon mi sadalskdkaskmld`
* `radon raw askjklasklalsmdls`

[2018-08-22 11:08] rsrdesarrollo opened #146 "radon failed when using python type annotations"
Hi,

I have a problem when I try to calculate cc on a python file with type annotations.

For example, this file:

[code]

Gives me this error:

[code]

I'm using **Python 3.6.5** and **radon 2.2.0**

[2018-08-22 15:53] rubik commented on #146
Radon never executes the file, but it parses the syntax into an AST using the `ast` module. So if you get a SyntaxError it's because the Python version that is executing Radon does not support the syntax in the file. I'm fairly sure you are using Python 2 for Radon.

I just tried your example on Python 3.7 and it works as expected:
[code]

[2018-08-23 05:46] rsrdesarrollo commented on #146
OK, I'm closing this issue because is related only with my **pyenv** environment.

[2018-08-23 05:46] #146 closed

[2018-09-02 15:54] rubik commented on #145
@mzfr This is a consequence of using `os.walk`, which returns a generator that does not yield anything if the path does not exist.

More importantly:
* Radon analyzes files as they are found. This means that if you provide the path to a directory Radon will walk into the directory analyzing Python files as they are found.
* Radon accepts multiple paths from the command line.

Therefore, if one of

[2018-09-02 15:54] #145 closed

[2018-09-09 21:01] #142 closed

[2018-09-22 20:48] rwbogl opened #149 "--exclude doesn't exclude explicit filenames"
If a filename is explicitly given at the command line, then the `-e` and `--exclude` flags will not exclude these files. For example, `radon cc --exclude test.py test.py` will still visit `test.py`. This might be expected behavior, but it's in conflict with the documentation for `-e`: "Exclude files only when their path matches one these glob patterns."

The culprit is [this line](https://github.c

[2018-09-23 14:08] rubik commented on #149
Thanks for pointing out this inconsistency between the documentation and the actual behavior. Honestly I don't know what is best in this case. Probably `exclude` should take the precedence. What do you think?

[2018-09-23 14:37] rwbogl commented on #149
I think that you're right; `exclude` should take precedent over any explicit files. I haven't used this feature yet, so I don't know if there's a good reason to do anything else.

Do you know any other sensible option?

[2018-09-28 18:14] pzelnip opened #151 "hal results in invalid choice with 2.2.0"
I have Radon 2.2.0 installed, and doing a:

[code]
results in:
[code]
Yet the docs indicate that hal is a valid choice (https://radon.readthedocs.io/en/latest/commandline.html#the-hal-command).

[2018-10-01 12:00] rwbogl commented on #151
I think that the docs were autogenerated for the most recent commit, which hasn't been pushed to PyPI yet. For instance, [the stable](https://radon.readthedocs.io/en/stable/index.html) version of the docs don't mention `radon hal` at all.

This could be fixed by changing the doc link to the stable version or pushing a new release to PyPI.

[2018-10-02 08:32] rubik commented on #151
@rwbogl is right, the `hal` command was only present in the development version. I released version 2.3.0 to PyPI:
https://pypi.org/project/radon/

[2018-10-02 08:32] #151 closed

[2018-10-02 12:53] HayaoSuzuki opened #152 "SyntaxError in Python 2.7"
I have a problem when I try to use Radon 2.3.0 with Python 2.7.15 as below:

[code]

My envrionments are here:

[code]

[2018-10-02 13:50] #149 closed

[2018-10-02 13:51] rubik commented on #149
@rwbogl I'll release this fix in version 2.3.1

[2018-10-02 13:57] rubik commented on #152
Thanks, this is fixed in version 2.3.1 which has been uploaded to PyPI.

[2018-10-02 13:57] #152 closed

[2018-10-02 14:08] HayaoSuzuki commented on #152
Thank you so much for fixing. It's working.

[2018-10-11 21:46] hawkeyej opened #155 "Since 2.3.1, radon produces no output to the console"
Radon 2.3.0 works fine with python 3.7.0 and 3.6.6

Starting with 2.3.1, no output to the console

Linux Mint 17.3

[2018-10-12 16:15] rubik commented on #155
I cannot reproduce this. For me it works fine. What terminal are you using? Can you also provide a sample file?

[2018-10-12 17:01] hawkeyej commented on #155
It looks like the problem is that it now ignores files without a .py extension.

Many of my python files to not have a .py extension (command line utilities).

[2018-10-18 12:54] DungxNguyen opened #156 "How does Radon cc calculate a class's complexity?"
I can not find any documentation about how Radon cc calculates a class's complexity, then I assume from its outputs that it average a class's methods' complexities and round it to the nearest integer.

Then I test Radon with this class. It has 6 methods, 5 with complexity of 1 and the other with complexity of 5. THen the average is 1.66 and Radon should report 2. In fact, it returns 1.

If I add 1

[2018-10-18 12:58] rubik commented on #156
A class' complexity is calculated here:
https://github.com/rubik/radon/blob/master/radon/visitors.py#L78

We currently do not round towards the nearest integer, but rather apply the floor operator. We add 1 to the result if the class has methods. Maybe you are onto something here and we should round.

[2018-10-18 12:59] DungxNguyen commented on #156
So it's the output from Radon
    M 2:2 A.f1 - A (5)
    C 1:0 A - A (1)
    M 12:2 A.f2 - A (1)
    M 15:2 A.f3 - A (1)
    M 18:2 A.f4 - A (1)
    M 21:2 A.f5 - A (1)
    M 24:2 A.f6 - A (1)

[2018-10-18 13:01] DungxNguyen commented on #156
So the results should be [ (5+1 x 5) / 6 ] + 1 = 2, but Radon still reports 1?

[2018-10-22 17:55] hawkeyej commented on #155
Can you please fix this?
Trust the user to pass python files even if there is no .py extension.

[2018-10-31 13:30] tuze-kuyucu opened #158 "Calculating the complexity of decorator functions with nested functions"
Radon returns cc value of A for decorators with inner functions, I guess this is a known issue. Is there any planned support for this?

[2018-11-04 05:36] DonJayamanne opened #159 "Support Python 3.7"
Does this officially support Python 3.7.
The docs seem to state that 3.6 is the latest Python version supported.
& thanks for this great package, I've used this a lot.

[2018-11-04 15:14] rubik commented on #159
I am using it myself on Python 3.7 and it seems to work fine. Unfortunately Travis does not support Python 3.7 yet, so I haven't updated the docs.

[2018-11-17 01:56] rheber commented on #155
The problem is iter_filenames() in tools.py. The pattern '*[!p][!y]' is always added to the exclude list, even if the user passes in a custom list of exclude patterns.

It's not obvious to me what the correct solution would be. Possible solutions:

* Don't use the default pattern if the user specifies a custom list of exclude patterns

* Add a flag that removes the default pattern from the list of

[2018-11-17 15:46] hawkeyej commented on #155
The solution is simple. Allow the user to specify files on the command line (that is what it does now) and respect that list of files (that is NOT what it's doing now).

[2018-11-25 15:10] JamesCC opened #160 "Too few operators recognised for Halstead calculations"
It is appreciated that one of Halstead's weaknesses is a lack of agreement on what is and isn't an operator.  However, the stats look very kind at the moment, suggesting operators are being missed.  It would be good to a have a declaration of operators that are recognised on the docs page.

It seems at the moment detected operators (you are welcome to correct me if I'm wrong) are:

- Binary Operat

[2018-11-27 15:24] rwbogl commented on #160
I agree that most of these should be recognized. Halstead even refers to the "assignment operator" a few times in *The Elements of Software Science*, using it to compute some ideal metrics like potential volume.

Some of these seem simple to add. [A quick glance at the `ast` docs](https://docs.python.org/3/library/ast.html#node-classes) shows that assignment, functional call, and conditional nodes

[2018-11-27 21:32] rwbogl opened #161 "Incorrect number of distinct operators in Halstead metric"
While trying to fix #160, I noticed that the Halstead visitor counts operands incorrectly. Essentially, it states that every expression that an operator is applied to is a distinct operator. For example, in the current master,
[code]
has *two* distinct operands. These are `x` and  `x + x`.

The problem is that the operator visitors claim to know what operands they are being applied to. In `x + (x

[2018-12-10 10:26] rheber opened #162 "Failing tests in test_cli.py"
On Debian 9.6, running `python3 radon/tests/run.py` produces the following:

============================= test session starts ==============================
platform linux -- Python 3.5.3, pytest-4.0.1, py-1.7.0, pluggy-0.8.0
rootdir: /home/rheber/src/github.com/rheber/radon, inifile:
plugins: mock-1.10.0
collected 385 items

radon/tests/test_cli.py .....FFF....F

[2018-12-13 20:06] hawkeyej commented on #155
This is how I patched my local copy of radon/cli/tools.py
[code]

[2019-01-08 12:37] happy4upa opened #163 "Feature request: Cognitive complexity."
Hi. First of all, thanks for your work.
I wonder if anybody interested in implementing the calculation of Cognitive complexity alongside with Cyclomatic complexity.
More info: https://www.sonarsource.com/docs/CognitiveComplexity.pdf

[2019-01-21 17:36] flazzarini opened #164 "colorama dependency version conflict with pytest"
Hi there when I am installing `radon` onto a virtual environment which has already pytest installed I get the following error message

[code]

pytest somehow has no restriction of colorama so it installs (at the time of writing) `v0.4.1`. Would it be possible that you upgrade the version of colorama in your package?

Thanks for your help!

[2019-01-26 08:47] #155 closed

[2019-01-26 08:48] rubik commented on #155
@hawkeyej @rheber This issue has been fixed, I'll push a new version shortly. I apologize for the long delay.

[2019-01-26 11:17] #123 closed

[2019-01-26 11:17] rubik commented on #123
I agree and I have finally implemented this. I apologize for the long delay.

[2019-01-26 13:26] #162 closed, assigned to nobody

[2019-01-26 13:32] rubik commented on #159
Both the documentation and the README now state the support for Python 3.7, and Travis supports it as well.

[2019-01-26 13:32] #159 closed

[2019-01-26 13:34] rubik commented on #139
I see that the PR on xbmc/repo-plugins got merged. I assume I can close this issue. Feel free to reopen.

[2019-01-26 13:34] #139 closed

[2019-01-26 13:35] rubik commented on #164
I have updated the requirements, thanks for the heads up. I'll release a new version shortly.

[2019-01-26 13:35] #164 closed

[2019-01-26 13:37] rubik commented on #158
I apologize for the long delay. Could you elaborate on the issue? It's possible that a decorator contains inner functions and still have a total CC such that the rank is A.

[2019-01-26 14:03] rubik commented on #156
@DungxNguyen I apologize for the delay. You were correct, except that you also have to add the 1 in complexity from which all classes/functions start with. So the correct calculation is:

[(1 + 5 + 1 x 5) / 6] + 1 = 2

I have fixed it and I'll release a new version shortly.

[2019-01-26 14:04] #156 closed

[2019-01-26 14:09] rubik commented on #163
@happy4upa Thanks for sharing the paper, it was an interesting read!

Currently I do not have time to implement a new metric. But if you want to give it a go, I'll be happy to review a PR. Essentially, what is needed is the following:
* a new visitor in `radon.visitors` that correctly counts cognitive complexity
* a new function in `radon.cli.__init__` that implements the CLI for this metric
* (po

[2019-01-28 09:49] tisnik opened #166 "UTF-8 codec error caused during reading binary files in Radon 3.0.0"
It seems like Radon 3.0.0 tries to open and analyze _all_ files (not only Python sources) when started by:

[code]

But when there exist any binary files(or text file not stored with UTF-8 encoding), it stops with the following error message:

[code]

Radon 2.4.0 seems to behave correctly.

[2019-01-30 08:40] tuze-kuyucu commented on #158
Hi!
Here is the function in question, which radon ranks with an A:
[code]

[2019-01-30 16:39] hawkeyej commented on #155
@rubik Thanks

[2019-02-03 20:47] #166 closed

[2019-02-03 20:53] rubik commented on #166
@tisnik @CalebSchwarz @cverna @pypingou @bemcculley @moochannel @scolby33 Fixed in 3.0.1 which was uploaded to PyPI. Thanks for the heads up.

[2019-04-06 11:46] KVGarg opened #167 "README.md: Invalid "coala" link"
Also, "coala" has a small "c" instead of caps "C"

[2019-04-06 11:47] KVGarg commented on #167
@rubik I would like to open a PR for this, can I?

[2019-04-07 15:10] rubik commented on #167
@KVGarg Thanks for the heads up. Sure, I'll happily merge a PR!

[2019-04-09 06:04] #167 closed

[2019-05-02 19:59] caiofbpa commented on #85
Any developments regarding this? I'm not using radon anymore, so I'm favorable to closing this issue if this isn't relevant to anyone else anymore.

[2019-05-05 03:46] DevynCJohnson opened #169 "Fails to Execute if File Contains Unicode"
If I have Radon scan a file that contains a Unicode character (or any character outside of the ASCII range), Radon throws the error message `ERROR: 'ascii' codec can't decode byte 0xc2 in position 7628: ordinal not in range(128)`. Obviously, if I check that location in my script, that character is not part of the ASCII range. I am using the newest version of Radon from the PyPi repository (v3.0.1)

[2019-05-15 18:05] kimi-p opened #170 "ERROR: super() takes at least 1 argument (0 given)"
I'm running `radon hal myfile.py`, but got this: `ERROR: super() takes at least 1 argument (0 given)`. Any idea why? thanks!

OS: macOS Majove 10.14.5
radon==3.0.1

[2019-05-15 18:32] rwbogl commented on #170
Are you using Python 2? When I wrote the code for the `hal` option, I forgot to take into account that Python 3's `super()` is not backwards compatible with Python 2.

[2019-05-15 18:33] bhrutledge commented on #170
This seems to be an issue with Python 2:

[code]

[2019-05-15 18:34] bhrutledge commented on #170
@rwbogl Gotcha. Is that something that could be fixed? I'm interested in using this tool to aid a migration from Python 2.

[2019-05-15 18:39] rwbogl opened #171 "Add debug flag"
Radon currently captures most exceptions that occur while doing its work. This makes it a real pain to discover where a programming mistake was made. (See #170 for an example; there's no debug information.)

Could we add a flag or something to avoid suppressing exceptions? Or perhaps just avoid suppressing them altogether?

[2019-05-15 18:40] rwbogl commented on #170
@bhrutledge It should be a pretty small fix. I'll take a look at it now.

[2019-05-15 18:53] rwbogl commented on #170
@bhrutledge PR #172 should fix this problem! You might have to clone the repo rather than use pip until a new version gets pushed out to PyPi.

[2019-05-15 19:46] kimi-p commented on #170
yeah the fix works for me. @rwbogl @bhrutledge thanks!
[code]

[2019-05-16 00:05] bhrutledge commented on #170
Happy to help. @kimi-p, I would leave this issue open, until the PR is merged (which will close it automatically).

[2019-05-17 12:38] #170 closed

[2019-05-17 12:38] rubik commented on #170
@bhrutledge @rwbogl It's merged, I'll push a new version shortly. Thanks @rwbogl!

[2019-05-17 12:41] rubik commented on #171
@rwbogl Yes, that would be a good idea. It's not super simple because the error is caught in `radon/__init__.py` and there is no CLI information. A hack would be to check if "-d" or "--debug" is in `sys.argv`, and if so re-raise the exception. That's not a very good solution though.

[2019-05-17 12:43] rubik commented on #169
Sorry for the late reply. The encoding that Radon selects to read the file is the one returned by `locale.getpreferredencoding(False)`. You can override it by setting the environment variable `RADONFILESENCODING`. Let me know if this solves the issue.

[2019-05-17 12:44] rubik commented on #85
@caiofbpa You can leave it open as it is definitely something useful that would improve Radon's usability. Presently I don't have time to work on it though, but if someone submits a PR I'll review it.

[2019-05-17 17:48] rubik commented on #170
Version 3.0.2 was pushed to PyPI.

[2019-05-18 09:43] Holiverh commented on #170
Looks like 3.0.2 is broken sadly, missing the `future` requirement.

[code]

3.0.1 works _fine_ with the equivalent steps. Looks as if #172 was missing an addition of `future` to `install_requires`?

[2019-05-18 17:52] rubik commented on #170
@Holiverh Thanks! It was my fault for not testing it (I don't have Python 2 anymore on my machine, sigh).

[2019-05-18 17:55] rubik commented on #170
Version 3.0.3 is on PyPI

[2019-05-22 00:28] DevynCJohnson commented on #169
Setting that environment variable did the trick. Thanks!

[2019-05-22 00:28] #169 closed

[2019-06-05 10:02] MLNW opened #174 "Fails to parse some code files"
I tried using radon on a medium ish project for the first time. Most of the files can be parsed with out a problem but some always throw errors. It doesn't matter which metric is calculated. Its always the same couple files. The only difference between metrics are the differing error messages:

[code]

I already tried using the `set RADONFILESENCODING=utf-8` environment setting since I'm on Window

[2019-06-13 11:12] mesinger opened #175 "Feature request: classname with radon hal -f"
Hey, thank you very much for your great work.

With ```radon hal -f```, it would be nice to know which class a classmethod belongs to. Currently, if you have two classes with constructors in your module, ```radon hal -f``` prints ```__init__``` twice, and you can't distinguish, which method belongs to which class.

Greetings.

[2019-06-26 15:13] MLNW commented on #174
I just found the problem:

The file had an invisible character that I only found when using
[code]

In this case it was the `M-oM-;M-?` character. Removing it worked by using
[code]
as detailed here https://stackoverflow.com/questions/7297888/0xef-0xbb-0xbf-character-showing-up-in-files-how-to-remove-them

[2019-06-26 15:13] #174 closed

[2019-07-20 15:58] rubik commented on #175
Hello, sorry for the delay.

Currently I have very little time to work on radon, but this may actually be somewhat easy to accomplish. If in the meantime you want to open a PR, I'll happily review it.

[2019-07-26 02:20] wuligaigai opened #176 "halstead error：'dict' object has no attribute 'total'"
I'm sorry to bother you. Recently, I've been using your tools to analyze the halstead complexity of Python code, but when I run radon Hal XX.py,  sometimes an error would happen :'dict'object has no attribute'total'. I don't know what the problem is. Can you answer it?

[2019-07-28 12:10] rubik commented on #176
Please provide at least the full traceback, so we can see where the error gets thrown. If possible, also provide your code. Without either one of those, it's very difficult to fix this.

[2019-08-14 19:23] rmorshea opened #177 "MathJax Error in Docs"
# Screenshot

![image](https://user-images.githubusercontent.com/4041990/63049549-ccf84680-be8d-11e9-9cd1-c0062e4c5946.png)

# Logs

![image](https://user-images.githubusercontent.com/4041990/63049768-4ee86f80-be8e-11e9-813c-f4724ecef9df.png)

[2019-08-16 08:26] rubik commented on #177
I cannot reproduce this issue, for me it loads fine. Can you try from an incognito session'

[2019-08-16 08:33] rmorshea commented on #177
Welp, not sure what was wrong. I'm not able to reproduce either.

[2019-08-16 08:33] #177 closed

[2019-09-05 22:48] tonybaloney opened #178 "Thanks!"
I've been using radon extensively in my own project [wily](https://github.com/tonybaloney/wily) and just wanted to say thanks for writing such an awesome library.

I would really like to contribute to this package, but it's worked so seamlessly, I've never had any issues!

💯

[2019-09-06 06:02] rubik commented on #178
Thank you!

It's great that it's been useful to many people, I'm very happy about that. Currently I don't have much time myself to work on radon, but there are a few issues that have been open for long. The most important one would be allow the user to specify the options in `setup.cfg` where many other tools are already storing theirs (e.g. Flake8, isort, etc.). This has been asked a few times al

[2019-09-10 22:08] tonybaloney commented on #178
cool! that's a good idea. Theres a lot of options so I'll have a think through how that might work

[2019-09-10 22:35] tonybaloney commented on #178
Link #179

[2019-09-15 08:08] tonybaloney commented on #85
#179

[2019-09-17 08:19] rubik commented on #85
As I merged #179, this issue can finally be closed. Radon now supports reading values from a configuration file, thanks to @tonybaloney. It will be released shortly.

[2019-09-17 08:19] #85 closed

[2019-09-17 08:32] tonybaloney commented on #178
Closing as #179 is now merged.

[2019-09-17 08:32] #178 closed

[2019-09-19 16:38] rubik commented on #178
@tonybaloney I have released version 4.0.0 with your changes. I also added your name to the changelog. Thanks again, those two features are extremely useful!

[2019-09-20 09:35] tonybaloney commented on #178
Awesome! thank you

[2019-11-20 13:19] diresi commented on #142
Oh that's nasty ...

[2019-11-20 13:59] diresi commented on #142
I use this patch as a quick workaround:
[code]

[2019-12-03 10:34] reynoldscem opened #182 "Feature Request: Force coloured output"
When I pipe radon into something else (`less`) it disables coloured output. This is obviously reasonable default behaviour. But a flag for forcing coloured output would be great, for use with a pager that accepts colours.

[2019-12-03 11:23] rubik commented on #182
It seems a useful feature. It's also probably easy to implement, but I think the soonest I can look at this is the next weekend. Otherwise, I'll happily review any PR.

[2019-12-05 15:16] apollovy commented on #176
The source I'm getting this is here: https://github.com/kwoodson/ansible-role-yedit/blob/master/tests/test.py

And the full traceback is
[code]

[2019-12-05 16:40] mcepl opened #183 "test failures with python 3.8"
When trying to update packages of python-radon for openSUSE/Tumbleweed, the test suite fails with these errors (comparing two floating point variables with ``==``? Really?):

[code]

[Complete build logs with all details](https://github.com/rubik/radon/files/3928025/_log.txt)

[2019-12-09 13:24] reynoldscem commented on #182
Thanks. I'm not very well at the moment so I'm unlikely to get a PR in anytime soon - but I'll @ you if I do. Thank you.

[2019-12-13 14:52] psychemedia opened #184 "Analysing IPython code - magics cause syntax error"
I'm trying to run `radon` metrics over code in various Jupyter notebooks and if there are cells that include IPython block magic (notebook code source cell starts `%%`, for example `%%capture`) or includes some line magic (line starts with `%`, for example, `%pip install pandas`) then it breaks calls to `radon.complexity.cc_visit` and `radon.metrics.h_visit` with errors of the form:

[code]

Calls

[2020-01-16 11:02] rubik commented on #184
Sorry for the delay. This is not currently supported, so it would require a change in the parsing code. At the moment I cannot do it, but I will review any submitted PR. If implemented, it should be special behavior triggered by a command-line option, because it would require additional parsing.

[2020-01-28 10:46] #183 closed

[2020-02-06 10:11] kush96 opened #186 "How to find cc for code not inside functions , method or classes"
Consider the piece of code below:
[code]
I couldn't find cc either programatically or through cli for the first 5 lines of code, here's what showed up :
1. CLI
`radon cc -s  myPythonFile.py`
Result

[code]

2. Python
[code]
Result
[code]

In both the cases cyclomatic complexity does not show up for the first 5 lines, is there anyway i can get out the cyclomatic complexity of the code in question?

[2020-02-06 15:31] rubik commented on #186
Yes, lines outside a block are not counted. That's because it's considered bad practice to have a lot of code at the global level. The only way to analyze those is to extend [`radon.visitors.ComplexityVisitor`](https://github.com/rubik/radon/blob/master/radon/visitors.py#L122) manually.

[2020-02-07 06:28] #186 closed

[2020-03-03 23:50] psychemedia commented on #184
I started wondering about this again, in the context of how the IPython interpreter works. It looks, for recent versions of IPython at least, as if code lines invoking magics etc may get converted to equivalent lines of Python code? eg using functions from [Python.core.inputtransformer2](https://ipython.readthedocs.io/en/stable/api/generated/IPython.core.inputtransformer2.html). (It also seems tha

[2020-03-04 10:58] rharish101 opened #187 "Halstead complexity not being calculated for async functions"
When using Radon's CLI for the Halstead measures with the `-f` flag, they aren't being calculated for asynchronous functions. On the other hand, it is working for cyclomatic complexity.

Here's a code snippet for testing:
[code]

This is Radon's output for `radon hal -f test.py`:
[code]

This is Radon's output for `radon cc test.py`:
[code]

I am using Python 3.8, with Radon 4.1.0 on Arch Linux. I

[2020-03-07 19:40] rubik commented on #187
Hi @rharish101. Could you check if the raw metrics are calculated for async functions? Halstead metrics are computed from raw metrics.

[2020-03-07 19:43] rubik commented on #184
@psychemedia That's interesting. I would say they are lines of code. Maybe not Python code, but code nonetheless. Determining if they contain real Python code might be tricky though. How all that would affect Radon, though, is not so clear. It looks like a highly subjective matter.

[2020-03-07 20:28] psychemedia commented on #184
They're more like macros. So python *is* called but via a command-line like function invocation.

IPython also lets you make shell calls prefixed with a !.

[2020-03-09 05:32] rharish101 commented on #187
@rubik There isn't an option for displaying raw metrics function-wise from the CLI. However, the raw metrics do include the content inside async functions wrt metrics like SLOC.

This is the example code:
[code]

Here is Radon's output for `radon raw test.py`:
[code]

[2020-03-31 17:57] marcoquerque opened #188 "If error msg contains a curly bracket, log will fail when attempted to use format"
I have a syntax error in a file that is involves an error message with a curly bracket:

The msg here: https://github.com/rubik/radon/blob/8db8eac6b93aca1eea818060b62350a7cf6a7d36/radon/cli/__init__.py#L353

I imagine msg contains the curly bracket at the format call here:

https://github.com/rubik/radon/blob/8db8eac6b93aca1eea818060b62350a7cf6a7d36/radon/cli/__init__.py#L338

[2020-04-01 08:47] rubik commented on #188
Interesting. Can you provide a minimal code sample that shows the error?

[2020-04-01 14:01] marcoquerque commented on #188
This is a very simple use case, I imagine there could be others:
[code]
python3 raises a syntax error:
```SyntaxError: Missing parentheses in call to 'print'. Did you mean print("}")?```

Radon can't capture the error because while doing so it has its own error:
[code]

[2020-04-01 14:04] marcoquerque commented on #188
Generalizing this issue, any error that happens during parsing, that throws an error with a curly bracket in its message, radon is likely to fail instead of capturing that error.

[2020-04-16 20:48] tribals opened #189 "Separate "flake8-polifyll" to extra requirement"
When installing `radon`, it requires `flake8-polyfill`, which, in turn, requires `flake8`.

IMO, this should be an option provided though extra requirement (something like `radon[flake8]`) since not everyone want `flake8` installed when using just `radon` alone.

[2020-05-06 00:56] edwinelisia opened #190 "Python 2.7: no module named configparser"
Getting this under python 2.7

[code]

[2020-06-26 15:03] BlaneG opened #192 "Provide option to return raw metrics by block type"
Radon provides raw metrics for a file. It would be great to have raw metrics by block type (class, method, function) similar to the cyclomatic complexity score.

[2020-06-29 15:59] Pcb21 opened #193 "colorama is pinned to 0.4.1 which conflicts with e.g. twine"
In the changes of #185 , the colorama dependency was pinned to 0.4.1 to enable continued support for Python 3.3, 3.4.  However this introduces a conflict with e.g. twine which has a colorama dependency of >=0.4.3.

Would you be willing to support a more complex dependency that is pinned '==0.4.1' for <= Python3.4, and '>=0.4.1' otherwise?

Thanks.

[2020-07-15 11:26] kush96 opened #196 "Radon unable to calculate metrics for python2 files"
Is there some way possible to calculate cc,raw and halstead metrics for a python2 file when calling radon using python3 . Currently i had the following file

file1.txt

[code]
when i run radon on the above file, i get the following error
[code]

Is there a work about around this?

[2020-08-03 19:40] #193 closed

[2020-08-03 19:44] rubik commented on #190
Fixed by 4008c9d

[2020-08-03 19:44] #190 closed

[2020-08-03 19:45] rubik commented on #196
The Python code is parsed with the Python version you are running Radon in. If you run Radon with Python 3, it will only parse Python 3 files. So you should run Radon with Python 2.7.

[2020-08-03 19:45] #196 closed

[2020-08-03 19:47] rubik commented on #189
This is a fair point, but then I don't know how Radon would declare the `flake8.extention` entry point in a conditional way (see setup.py). If you have a workaround, I can implement it.

[2020-08-09 16:28] MartinThoma opened #197 "Failing build in pypy3.5"
When I go to https://pypi.org/project/radon/, I see that pypy3.5 is failing.

[2020-08-13 14:33] rubik commented on #197
@MartinThoma Yes, I am not sure why though. It looks like a problem with the mocking library at first glance.

[2020-09-06 13:13] tribals commented on #189
You can't declare entry point in conditional way, as depended on extra requirement. But you don't need to.

Instead, you can [declare extra requirements for entry points](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies), too. Example:

[code]

Entry point declared in such a way still will be discoverable (e.g. `pkg_resource

[2020-09-12 17:37] #189 closed

[2020-09-12 17:38] rubik commented on #189
@tribals Thanks for the PR Anthony! I didn't know that entry points could contain extra requirements. This change will be included in the next release.

[2020-09-12 17:42] tribals commented on #189
I didn't know too. Until opened this issue. :grin:

[2020-09-14 07:52] gtristan opened #199 "installing radon via pypi fails to install flake8_polyfill"
In my gitlab CI job, I am installing radon with the following command:

[code]

When running radon, I get the following stack trace:

[code]

This started happening some time over the last couple days.

[2020-09-15 06:42] sr-verde commented on #199
I have experienced the same issue.
Installing `flake8_polyfill` manually is a work around.

[2020-09-15 14:28] cblegare commented on #189
If `flake8_polyfill` is optional, it should be hidden a conditional import

here, for instance

https://github.com/rubik/radon/blob/master/radon/complexity.py#L7

[2020-09-15 14:31] cblegare commented on #199
If `flake8_polyfill` is optional, it should be hidden behind a conditional import

here, for instance

https://github.com/rubik/radon/blob/master/radon/complexity.py#L7

Also, if this changed did not trigger a error during the travis pipeline (false negative), probably something is wrong in dependency management from within the pipeline.

[2020-09-15 14:38] sr-verde commented on #199
For clarification, I don't use travis but I use xenon executed by a gitlab runner.

[2020-09-15 17:35] tribals commented on #189
Good point. I should have been check for this before PR.

[2020-09-15 22:30] tribals commented on #189
Take a look, please: #200. What do you think?

[2020-09-17 07:51] sr-verde commented on #199
Seems to be fixed.

[2020-09-17 20:52] tribals commented on #199
Please, see issue #189 an PR #200.

[2020-09-17 20:57] tribals commented on #163
I'm very interested in implementing this metric. I do start working in my fork, but couldn't grasp the whole point of metric in relation to Python. If anyone want to collaborate, i'll be very appreciated.

[2020-09-18 13:19] rubik commented on #189
@cblegare @tribals My bad, I should have caught it in the previous PR. I merged the new PR and released radon 4.3.2 which contains the fix. I have verified that it works by installing radon in a clean new environment.

[2020-09-18 13:20] rubik commented on #199
@gtristan @sr-verde @cblegare @tribals Sorry for the installation issue. It's been fixed in version 4.3.2 which I just uploaded.

[2020-09-18 13:20] #199 closed

[2020-09-18 15:11] rubik commented on #163
@tribals I think you can start by cloning the `ComplexityVisitor` and incrementing the cognitive complexity score on these elements:
* if/elif/else
* for/while
* break/continue
* try/except
* recursion calls
* mixed boolean operators

That should be reasonably easy and we could already add the basic tests. Then the final part needs to be implemented: the nesting increments. When any of the above s

[2020-09-22 15:58] cblegare commented on #189
Thanks to both of you :)

[2020-10-21 08:22] cleder commented on #163
There is a plugin for flake8:
https://pypi.org/project/flake8-cognitive-complexity/

[2020-10-21 08:38] cleder opened #201 "Feature request: __doc__ strings to be counted as comments, not code"
I have a file where Maintainability Index is failing.
It does not have a lot of code, but it is extensively documented via `__doc__` strings

Removing the doc strings will improve the `mi` from B to A

Raw Metrics:
With doc strings:
[code]

without doc strings:
[code]

This is not the desired behaviour as the doc strings in python are a way of documentation.

[2020-10-21 09:16] rubik commented on #201
Hi Christian, it's a good while I don't work on raw metrics, but as I remember docstrings should be counted as comments, indeed. Can you post a minimal example that reproduces this issue?

[2020-10-21 09:22] rubik commented on #163
Thanks @cleder. I think @tribals can incorporate some of those ideas into Radon.

[2020-10-21 16:17] cleder commented on #201
[code]
=>

[code]

vs.

[code]
 =>

[code]
I am not concerned about the raw metrics as such but as #187 says the Halstead metrics are computed from this and I assume
the maintainability index as well.

[2020-12-03 15:07] mousetail opened #203 "Change default file encoding to utf-8 for python3"
According to [PEP 3120](https://www.python.org/dev/peps/pep-3120/), the default encoding for python source files is utf-8, not `locale.getpreferredencoding`. Since this module reads python files, it should follow the same convention.

You can specify the encoding manually with the `RADONFILESENCODING` environment variable, but it seems strange to have to jump through a hoop to get the standard pyt

[2020-12-06 05:38] ghazpar opened #204 "Syntax error with code ending with \"
If I run the following code:
[code]
A syntax error is raised:
[code]

The source code in `source` is certainly bad code style, but it is not a syntax error per se, at least not for Python 3.

I have this bug for radon 4.3.2 and Python 3.7.1.

[2020-12-11 22:45] dollodart opened #206 "Feature request: node visitors for style metrics"
For reference, please see https://github.com/dollodart/pymetrics. This amounts to adding new node visitors and is like issue #163. Since complexity metrics are used in linters which have the main purpose enforcing style rules you may want style metrics. These analytics could be useful in project-specific guidelines up to PEPs where you are trying to assess what stylistic rules most users want (nom

[2020-12-22 13:05] cristianMeli opened #207 "Feature Request: parameter to specify configuration file path"
Actually there is not a parameter to do this like in [flake8](https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-config).
Testing, I think that radon only try to find a `radon.cfg` in the directory where radon is executed.
This feature will be great because the configuration file can be anywhere.

[2021-01-08 12:11] rharish101 commented on #201
Hi, it seems like the raw metrics are working as documented. In your first example, the docstrings are counted as multi-line comments (as shown under `Multi:`). It's just that it's not reported as a comment, as specified in [the documentation](https://radon.readthedocs.io/en/latest/intro.html#raw-metrics):

I think that instead of focusing on the raw metrics, we should focus on the MI code, which

[2021-02-15 11:17] karulis opened #209 "Radon ignores '--ignore' CLI argument"
https://github.com/rubik/radon/blob/0a6aff726f29abfe1547b27446f3b2d78d2d77e6/radon/cli/tools.py#L277

Radon does not use provided 'ignore' value

[2021-03-01 01:45] FredHappyface commented on #203
One workaround for this issue and other such 'misbehaving' programs is to add `-X utf8` to the py/python command. For example, in Windows:

[code]

[2021-03-02 21:24] AlexandruBurlacu opened #210 "Feature Request: Cohesion and Coupling metrics"
Hi,

I was wondering whenever adding a subset of Chidamber and Kemerer programming complexity metrics would be of interest to you and in the scope of `radon` tool?

While using `radon` I found it more effective in finding methods/functions that are complex, rather than tightly coupled, so I believe having a couple of metrics to estimate coupling and cohesion would be nice.

Some of the more popula

[2021-03-07 10:15] rubik commented on #204
Hi Marc. The source code in the string is definitely invalid. You can verify by putting the same code in a file and executing it with Python directly:

[code]

[2021-03-07 10:15] #204 closed

[2021-03-07 10:43] #207 closed

[2021-03-07 10:44] rubik commented on #207
@cristianMeli Thanks Cristian, I just added this feature. You can specify a custom path with the `RADONCFG` environment variable. It's part of version 4.4.0 which I will release shortly.

[2021-03-07 10:47] rubik commented on #207
Done, released radon v4.4.0.

[2021-03-07 10:48] rubik commented on #203
@mousetail @FredHappyface You are right, this was a bug. I made utf-8 the default encoding on Python 3.0+. I just released radon v4.4.0 with this change. Thanks!

[2021-03-07 10:48] #203 closed

[2021-03-07 10:48] rubik commented on #197
@MartinThoma It looks like the bug was fixed in the mocking library. Now there are no build issues.

[2021-03-07 10:48] #197 closed

[2021-03-08 08:49] #187 closed

[2021-03-20 14:35] eloifavero commented on #161
https://www.geeksforgeeks.org/software-engineering-halsteads-software-metrics/

from Software Engineering | Halstead’s Software Metrics
....
Counting rules for C language –
...
1.	Comments are not considered.
2.	The identifier and function declarations are not considered
3.	All the variables and constants are considered operands.
4.	Global variables used in different modules of the same program ar

[2021-03-23 20:48] justWerns opened #211 "Incorrect CC for try-except-else else blocks containing multiple statements"
A near duplicate of #53, the following code has a CC of 5 when it should be 3.
[code]

[2021-03-29 20:34] karulis commented on #209
It turns out I have misused ignore option
In my case I have structure like:
- src/dir_to_ignore
- src/include_dir

I was trying to use ignore like:
`radon cc src --ignore src/dir_to_ignore`
but the proper way is just:
`radon cc src --ignore dir_to_ignore`

I will close the issue, sorry for all the noise

[2021-03-29 20:34] #209 closed

[2021-04-23 22:45] Mahdi-py opened #215 "Nested classes issue"
`class student2:
    def nott(self):
        if True and False:
            return
        elif True:
            return
        else:
            return
        return self
    class classmate:
        def example(self):
            return 0
    @staticmethod
    def staticMethod():
        return None`

the "radon cc {path}.py" does not detect any nested classes.
The above example is one of many

[2021-04-29 18:28] S3j5b0 opened #216 "Can't get the actual complexity for block of code"
I have a project where I need to do some analysis of python applications.

I want to use the package 'Radon' in order to look at some python code (as a string) and get out a number indicating the complexity of the code.
In the documentation, there is this this example:

[code]

Ok, so this gives a list of these two functions and returns a bunch of metrics for both. I would like to just input some

[2021-05-05 09:17] #216 closed

[2021-05-07 10:41] rubik commented on #216
@S3j5b0 For that you can use the high-level functions in the `radon.complexity` module: https://github.com/rubik/radon/blob/master/radon/complexity.py

[2021-05-08 21:18] #211 closed

[2021-05-08 21:18] rubik commented on #211
@justWerns Thanks a lot, I merged your PR!

[2021-05-11 00:40] joxl opened #217 "Installing radon breaks flake8"
## Issue

The radon `setup.py` configures `entry_points` for flake8.  When used by flake8,
this entry point attempts to unconditionally import `flake8_polyfill`, causing
flake8 to crash due to an `ImportError` if flake8-polyfill is not installed.

The radon library should either specify `flake8-polyfill` as a required
dependency, or guard against this error condition.

## Steps to reproduce

1. Cr

[2021-05-14 04:00] joxl commented on #217
It looks like this configuration was assumed safe when explained here: https://github.com/rubik/radon/issues/189#issuecomment-687786399

Which is **only** true if `flake8-polyfill` was first installed some way or another.

Since flake8 executes exposed entry points *every time* it runs, the unguarded `flake8_polyfill` import causes flake8 to crash. This prevents a project from using both `flake8`

[2021-05-17 13:16] rubik commented on #217
@joxl Indeed, you should install `radon[flake8]` if you plan to use it in combination with Flake8. Apart from that, it's quite inconvenient that flake8 breaks if Radon is installed manually. What about: (1) clarifying that in the documentation and (2) check the flake8-polyfill for an `ImportError` and display a suitable error message?

[2021-05-17 13:18] rubik commented on #210
Thanks Alexandru, much appreciated! Right now I don't have time on hand to implement new metrics, but if you open a new PR with some features and the corresponding test cases I'll be happy to review it!

[2021-05-17 13:20] rubik commented on #215
Thanks for the bug report @Mahdi-py. Indeed, this is due to the way the AST visitor is implemented. I'll take a look at a possible fix in the near future.

[2021-05-17 13:22] rubik commented on #201
@cleder I can confirm what @rharish101 said. Docstrings are reported separately just because they are not really comments. However, commands like `mi` do count them as comments in their calculations.

[2021-05-17 13:24] rubik commented on #161
@eloifavero The code above is quite difficult to read. Also, I am not sure those two implementations can be compared because they are quite a lot different. If you post them with proper indentation and syntax highlighting I'll be happy to take a look.

[2021-05-17 19:17] joxl commented on #217
This is would make it easier for unsuspecting project owners to debug the problem (that Radon is not using the `flake8.extension` entry point correctly); which is helpful in some way I suppose, but not very.

The problem is that Radon breaks flake8 even when the project that installs it doesn't need to use Radon's flake8 extension (e.g. `pip install radon`).

I've looked into why the CI testing is

[2021-05-18 11:06] cleder commented on #201
8-)
In #187 it was mentioned that the values reported in the raw metrics are used, I was misguided by that.

[2021-05-18 11:06] #201 closed

[2021-05-23 07:08] rubik commented on #217
@joxl I wanted to first reproduce the bug but I could not verify it. Here's what I did:

[code]

The main difference between our two environments is Python. You tested this on Python 3.6, while I'm using 3.9. There are also some other oddities: according to `pip freeze`, flake8 version 3.9.2 is installed (like in your test), but running `flake8 --version` displays 3.8.4?! pycodestyle and pyflakes

[2021-05-23 07:21] rubik commented on #217
@joxl I reproduced your bug report by running the same commands, then I tested the same configuration by adding a suitable error message if `flake8-polyfill` is not found. The result isn't much different. The message is buried in a long traceback that flake8 displays on every command.

Since that's not user-friendly at all, I decided that `flake8-polyfill` will be moved back into `install_requires

[2021-05-23 07:38] rubik commented on #217
@joxl I verified that flake8 is no longer broken when radon is installed with the pre-release 4.5.2.dev0. I will now make an official release.

[2021-05-23 07:39] #217 closed

[2021-05-23 07:40] rubik commented on #217
@joxl Radon 4.5.2 is now on PyPI. Thanks for reporting this issue.

[2021-05-23 18:35] joxl commented on #217
Thanks for the fix, @rubik.  I agree, leaving flake8-polyfill as a hard requirement feels a bit heavy.  I don't know how much longer Flake8 2.x will be supported, one solution would be for Radon to just drop support for it in order to remove the need for flake8-polyfill completely (I'm not sure how appealing that is to the Radon project).

I started working on a solution that kept flake8-polyfill

[2021-05-24 06:45] rubik commented on #217
@joxl That was an interesting try! I think it's time to drop support for Flake8 version 2. Checking on PyPI, I see that Flake8 v2.6 was released in 2016, and flake8-polyfill's last release is in 2017. We can bump Radon's major version to 5, drop support for Flake8 2 and remove flake8-polyfill. I just need to check if we need to change the way plugin options are added. That way, if someone wants to

[2021-06-23 08:08] DolajoCZ opened #220 "Support of pyproject.toml file"
Hello, do you plan to support `pyproject.toml` file based on [PEP518](https://www.python.org/dev/peps/pep-0518/)? For example [here](https://github.com/carlosperate/awesome-pyproject) is list of some tools which support `pyproject.toml`.

[2021-07-06 19:55] rubik commented on #220
Hi @DolajoCZ. At the moment I do not have the bandwidth to work on a new feature, but if someone submits a PR I'll be happy to review it. It should not be too difficult as Radon is already able to read its configuration from a config file, as you can see here: https://github.com/rubik/radon/blob/master/radon/cli/__init__.py#L28

It would be a matter of adding the ability to read from a TOML file i

[2021-08-08 13:19] #182 closed

[2021-08-10 09:00] Sam152 opened #223 "Radon struggles to collect statistics from large files"
I have some large files that radon struggles to analyse. I created an example to demonstrate the problem: https://gist.githubusercontent.com/Sam152/50e8ef27cceb899084b42a069237a7b8/raw/bb21870395df86a0062c22353b532b45d31bd3f5/sample.py (~800 lines)

In my case running `radon raw big-package` takes 28.38s. In reality the module I'm trying to analyse has ~ 5000 lines with a similar amount of AST per

[2021-08-18 14:11] gabrielsmenezes opened #224 "Is Randon able to run into Java files?"
Hello, I'm Gabriel Menezes and I'm a Software Engineering Researcher. I'm looking for tools to extract source code metrics, but my study repositories are in Java. So, I want to know if Randon can extract these metrics for Java files.

Thanks!

[2021-09-03 03:16] Sam152 commented on #223
Thanks for the info, that's really helpful!

[2021-09-22 09:47] Freed-Wu opened #225 "[feature] Add support for pre-commit"
<https://pre-commit.com/>

[2021-10-05 01:09] PedanticHacker opened #226 "Python 3.10: match-case syntax not yet supported by radon?"
I have analyzed cyclomatic complexity of a function that has this new Python 3.10 match-case syntax. The result of that function was `A (1)`. That's not correct. The function had a lot of case statements in it.

Is there any undergoing work yet to have radon analyze and correctly report cyclomatic complexity where there's match-case syntax in Python 3.10 code?

[2021-10-08 20:33] DolajoCZ commented on #226
[Here](https://github.com/rubik/radon/pull/227) is PR for this issue.

[2021-11-05 13:54] lole-elol opened #228 "summary not shown when using --json flag"
When i am using radon to get the metrics on multiple files i dont get the summary when i export it to a json file
radon raw --json -s --output-file out.json files0_*.py

[2021-12-20 11:58] Vinno97 commented on #215
I noticed the same issue whilst reading the code itself. Am I right assuming that adding `visitor.classes_complexity` to the following sum would fix this?

https://github.com/rubik/radon/blob/44655c8951ffd15b6b31a967914ade311dd7aeb0/radon/visitors.py#L310-L314

Alternatively change

[code]
to
[code]
and change the `off` property of the visitor to `True`

[2022-01-01 02:23] kloczek opened #230 "5.1.0: sphinx warnings"
Looks like on rendering documentation sphinx shows some warnings.
[code]

[2022-02-22 16:10] huornlmj opened #231 "Misspelled 'clasification' in markdown exports"
Misspelled 'clasification' in markdown exports.  Should be spelled 'classification'.

[2022-02-23 12:55] ghpqans opened #232 "Documentation link outdated"
According to https://pypi.org/project/radon/ the latest version is 5.1.0.
However, the link to the documentation page https://radon.readthedocs.org/ redirects to an outdated version of 4.1.0.
Please fix!

E.g. the --codeclimate option is not documented for the 4.1.0 version but the command line help shows it.

[2022-02-23 20:13] #231 closed

[2022-02-23 20:13] rubik commented on #231
@huornlmj Thanks for the report, I fixed the typo on `master`.

[2022-02-23 20:24] rubik commented on #230
@kloczek Thanks, I fixed most of them in `master`. The ones about the options are still present but I do not understand what the issue is, and the documentation is generated correctly.

[2022-02-23 20:32] rubik commented on #225
@Freed-Wu What would this support entail? From a quick read it would seem all configuration is created in each repository where pre-commit is installed.

[2022-02-23 20:37] rubik commented on #232
@ghpqans Thanks for the report. It seems more recent builds are failing due to excessive memory consumption, i.e. the issue outlined here:
https://github.com/readthedocs/readthedocs.org/issues/6412

I need to look into why this happens.

[2022-02-23 20:42] rubik commented on #206
@dollodart Hi David, I missed this message and I see it only now. I'd say such a visitor would fit within the scope of the project, as it provides metrics similar to the Halstead complexity or the maintainability index.

I'd be happy to review a PR, it just needs to include tests and follow the code style of the rest of the project. Let me know if you are interested in working on it.

[2022-02-23 20:49] rubik commented on #228
Correct, the JSON export does not include the summary. At this time the summary needs to be calculated from the JSON output. I have updated the documentation and the CLI help text to clarify this.

[2022-02-23 20:49] #228 closed

[2022-02-23 20:54] rubik commented on #215
That fix would allow Radon to count the complexity of all the code within the nested classes. That's the correct thing to do. However, it won't cause the nested classes to be shown in the reports. Since we do not report nested functions, I think that's also consistent with the rest of the code. I'll commit this fix after writing some test cases.

[2022-02-23 21:10] lole-elol commented on #228
Maybe we can add that feature that the summary is exported to the Json in the future ?

Or do you, @rubik  think that this is not a good idea.

Also i can see myself to contibute this feature to radon.

[2022-02-24 07:54] rubik commented on #228
@lole-elol I would be open to adding that, the problem is that currently the JSON structure is not flexible: all paths are top-level keys in the object, and so there's no room for the summary, unless we use a special key (a hacky solution and does not preserve the logical structure) or we update the structure (undesirable because we would break code that is already using it).

The root issue is th

[2022-02-24 08:23] ghpqans commented on #232
A strong indicator for some memory leak issue.

[2022-03-13 19:19] dollodart commented on #206
Hi Michele,

I revised the project after you sent this message and think I could make
something analogous to the HalsteadVisitor class. The main problem I see is
that the recursive class instantiation method for special node types, like
in HalsteadVisitor.visit_FunctionDef, is slow. In particular, the merging
process is slow (the instantiation and the walking are not, as I tested by
separating the

[2022-03-31 15:01] NicoWeio commented on #64
Thanks, @rubik, for the example.
I'd like to note that it breaks when `.ipynb` files are present.

[2022-04-22 18:23] kloczek commented on #230
Just tested commits from master.
In meantime I've switches from using sphinx<>setuptools to use straight sphinx-build command (`setup.py build_sphinx` is now marked as deprecated and will be removed soon), and now I'm runing it iwth `-n` switch which shows warmings about missing references. These are not critical issues.
Hrre is current output:
[code]

[2022-07-07 18:45] dgutson opened #235 "wrong complexity for linear function"
radon shows B (8) for this function, whereas mccabe shows 1.

[code]

[2022-07-07 18:59] dgutson commented on #235
Found the -no-assert option.

[2022-07-07 18:59] #235 closed

[2022-07-21 03:22] Freed-Wu commented on #225
Hey, sorry for late.

Just add a `.pre-commit-config.yaml` in the root directory of the repository is OK. Like <https://github.com/PyCQA/doc8>.

[2022-09-03 06:17] rubik commented on #225
@tzmara @Freed-Wu In that case, since the exit code is important, [xenon](https://github.com/rubik/xenon) is the program to use. Radon is meant for human use, Xenon is for programmatic use. It already has a pre-commit hook. You can configure it to fail when specific thresholds are surpassed.

[2022-09-03 06:17] #225 closed

[2022-11-17 13:44] izikeros commented on #225
Here is a snippet to be put in .pre-commit-config.yaml to use xenon:
[code]
Maybe someone will find it useful.